[2016-01-27 08:35] wooorm opened #1 "Highlight why to use this project"
There are other react highlighters out there, but they all use 'dangerouslySetInnerHTML', whereas this project does not. Which is very cool, and I think you should highlight it :)

[2016-01-27 08:37] wooorm opened #2 "Show how to add grammars"
Is there some method to add a grammar to the highlighter? Also: [this doc on lowlights repo](https://github.com/wooorm/lowlight#lowlight-in-the-browser)

[2016-01-27 13:06] conorhastings commented on #2
@wooorm what do you mean by add a grammar? sorry, the reason i went against the direction of that piece of documentation is that i wanted to make all languages available for highlighting, do you have another suggestion? Dynamically require them perhaps based on users need?

[2016-01-27 13:09] wooorm commented on #2
I’d say users need to specify them themselves, otherwise it 530kb of code is included on the client, which I don’t think is ever a good idea!

[2016-01-27 13:11] conorhastings commented on #1
closed here https://github.com/conorhastings/react-syntax-highlighter/commit/39fbe2b284021621e3011de5ecde521b08cbcbc5 , thanks!

[2016-01-27 13:11] #1 closed

[2016-01-27 13:11] conorhastings commented on #2
@wooorm agreed, i'll look into updating this tonight!

[2016-01-27 13:12] wooorm commented on #2
:+1:

[2016-01-30 21:34] conorhastings commented on #2
im using dynamic requires with webpack, this means webpack will be required for nwo but should cut down on package size will test a build soon.

[2016-01-31 23:20] conorhastings opened #5 "considering pulling out module to turn css style into js style."

[2016-02-01 02:21] conorhastings commented on #5
https://github.com/conorhastings/react-syntax-highlighter/blob/master/lib/build-stylesheets.js

[2016-02-04 17:37] wooorm commented on #2
@conorhastings Ping (:

[2016-02-05 02:38] conorhastings commented on #2
@wooorm you should be able to pass a grammar with the `language` prop, and with the dynamic require it should only actually end up requiring what you are using I think, very busy at work so still haven't had time to test package sizes.

[2016-02-06 12:51] hemanth opened #6 "Not able to require the styles?"
Getting a `Uncaught Error: Cannot find module './styles/docco'` for

[code]

[2016-02-06 16:24] conorhastings commented on #6
Hey @hemanth , what are you currently using to bundle your code? Currently this module requires webpack because of the use of dynamic require statements , but i'm exploring ways to get away from that.

[2016-02-06 22:37] hemanth commented on #6
@conorhastings Just noticed, I am using browserify.

[2016-02-09 17:19] #6 closed

[2016-03-19 14:27] #2 closed

[2016-03-27 18:26] conorhastings commented on #5
i think there are better tools out there, this works for this project though.

[2016-03-27 18:26] #5 closed

[2016-04-08 08:33] marcelpanse opened #7 "React.createElement: type should not be null, undefined, boolean, or number"
I'm using React 15.0.0

Full stacktrace:

```warning.js:44 Warning: React.createElement: type should not be null, undefined, boolean, or number. It should be a string (for DOM elements) or a ReactClass (for composite components). Check the render method of `HtmlTab`.warning @ warning.js:44ReactElementValidator.createElement @ ReactElementValidator.js:221HtmlTab_render @ HtmlTab.jsx:48(anonymous fu

[2016-04-08 11:59] conorhastings commented on #7
@marcelpanse I'm unable to reproduce the error, is there anyway you can share code that reproduces?

[2016-04-08 12:10] marcelpanse commented on #7
Not at the moment, I went back to react 14 because I don't have much time for it now, will try another time.

[2016-04-08 12:34] conorhastings commented on #7
sounds good, please let me know if you ever have that code.

[2016-04-08 12:34] #7 closed

[2016-04-19 16:22] simonlovesyou opened #8 "Update README on npm"
The README on npm doesn't correctly show how to retrieve the script styles, it says

[code]
while it should be

[code]

It should be a quick fix :)

[2016-04-19 16:36] conorhastings commented on #8
yup, it's fixed on master, just needs to be pushed to npm, will do today, thanks!

[2016-04-20 00:22] conorhastings commented on #8
@simonlovesyou updared on npm, thanks for the issue!

[2016-04-20 00:22] #8 closed

[2016-05-06 03:16] sslotsky opened #9 "JSX support"
Highlight.js claims to support JSX, but you can tell by the screenshots below that JSX entered into `react-syntax-highlighter` does not get the correct coloring applied to the tags. Is this an issue with this library, or with Highlight.js itself?

![screenshot from 2016-05-05 22-13-43](https://cloud.githubusercontent.com/assets/374078/15063310/b5fd253c-130e-11e6-94ec-896996f93d80.png)

![screensho

[2016-05-06 03:37] sslotsky commented on #9
It looks like they just added support for this in February. Any chance of pulling in the updates?

https://highlightjs.org/#news-92

[2016-05-06 13:54] conorhastings commented on #9
Thanks for the issue, I'll try to take a look at this today.

[2016-05-06 16:32] conorhastings commented on #9
seems like the support isn't quite there, https://github.com/isagalaev/highlight.js/issues/931#issuecomment-214824138 . I'll leave this open to track updates on the highlightjs side.

[2016-05-06 16:35] sslotsky commented on #9
I see, thanks for looking into that. If those grammars aren't too messy to define, perhaps I'll take a swing.

[2016-05-06 16:44] sslotsky commented on #9
Not _awful_ I guess. Certainly lacking in elegance compared to ocaml/f# lexing/parsing tools.

https://github.com/isagalaev/highlight.js/blob/master/src/languages/javascript.js

https://github.com/isagalaev/highlight.js/blob/master/src/languages/xml.js

[2016-05-18 11:22] DeFuex opened #10 "Cannot read property 'exports' of undefined"
Hi,

first of all, thanks for this awesome project.

A few days ago everything worked fine for me. Now if i npm start my project, the console tells me that some method of highlight.js ->

`.... module.exports = function(hljs) {
	  var CPP = hljs.getLanguage('cpp').exports; .....`

seems to have following problem "Cannot read property 'exports' of undefined". Could it be that it has to do with Babe

[2016-05-18 14:12] conorhastings commented on #10
hey thanks for the issue, I'll try to look into this, this evening.

[2016-05-18 17:48] conorhastings commented on #10
@DeFuex by the way if you have any sample code reproducing the issue, that would be great!

[2016-05-18 18:03] DeFuex commented on #10
sure thing, go to my develop branch https://github.com/DeFuex/Blogolio/tree/develop and pull my portfolio webpage, make an npm install and npm start. if i take out the component were syntax highlighting is used everything works fine.

[2016-05-19 01:03] conorhastings commented on #10
@DeFuex It seems to be an issue with `highlight.js@9.4.0` , I haven't pinpointed the exact cause yet but moving to a hard dep on `9.3.0` fixed the issue. I published `2.0.4` as a stopgap while I investigate further. Thanks again for bringing this to my attention!

[2016-05-19 01:10] conorhastings commented on #10
here is the offending line of code, https://github.com/isagalaev/highlight.js/compare/9.3.0...9.4.0#diff-b4721ca0cfdcb6627474ae5357615f51R9 , still not sure why it causes this issue.

[2016-05-19 07:50] DeFuex commented on #10
@conorhastings np, thx for the quick fix :)

[2016-05-19 15:40] wooorm commented on #10
@conorhastings I believe this is a problem with highlight.js not honouring semver, right? Does that mean lowlight itself should use `~` instead of `^` in its dependency?

[2016-05-19 17:07] conorhastings commented on #10
@wooorm I think in light of this, that sounds like the right move!

[2016-05-19 17:16] wooorm commented on #10
OK, I did, and released lowlight@1.2.0 with fixes, and a locked highlight.js@9.4.0

[2016-05-21 09:00] wooorm commented on #10
@conorhastings This can be closed, right?

[2016-05-21 12:37] conorhastings commented on #10
@wooorm yup!

[2016-05-21 12:37] #10 closed

[2016-06-02 22:13] zekedroid commented on #9
Any updates on this?

[2016-06-07 00:05] conorhastings commented on #9
@zekedroid currently still just waiting for highlight.js support, i don't currently have the bandwidth to do it myself

[2016-06-13 05:41] leoMeee opened #11 "how to use it with Markdown parser"
i used  this  [Markdown parser](https://github.com/evilstreak/markdown-js)

`<SyntaxHighlighter language='javascript' style={docco} >`
              `{markdown.toHTML('##Use npm `npm init --yes`')}`
`</SyntaxHighlighter>`

then i got

`<h2>Use npm  <code>npm init --yes</code></h2> `

[2016-06-13 12:21] conorhastings commented on #11
what are you expecting the output to be?

[2016-06-15 01:37] leoMeee commented on #11
i want to get "Unescaped html".
 i dont know how to do with react-syntax-highlighter and Markdown parser

[2016-06-15 02:15] conorhastings commented on #11
i'm not totally ure what markdown parser does, so i'm not sure i can be much help here

[2016-06-15 02:15] #11 closed

[2016-07-02 10:11] ZeroCho opened #12 "react 15.2.0 makes warning error"
react is updated to 15.2.0 and it makes following error message. All of us who manage packages which depend on react should fix this...

[code]

[2016-07-02 13:15] conorhastings commented on #12
thanks for the report 👍 , just published version `2.1.1` fixing this issue

[2016-07-02 13:15] #12 closed

[2016-07-14 00:08] gerardmrk opened #13 "Massive filesize"
This package just added 600kb to my production bundle. I actually really like this lib, but the filesize could be a dealbreaker for me. I tried not importing styles but filesize is still the same. Right now my only workaround is to include react-syntax-highlighter in my vendor bundle and exclude it from the main app bundle.

https://gyazo.com/c9bbe6b0f9fd5917c3abb020ce980c14

The only comfort I ha

[2016-07-18 04:25] conorhastings commented on #13
yeah, I've been trying to think a lot about this problem. It's mostly due to the way we handle the lowlight import. It seems clunky to have the user register a language by reaching into the lowlight internals but that would massively cut filesize, perhaps we could offer a light build. would that interest you?

[2016-07-19 09:20] goozo commented on #13
The package looks awesome and exactly what I'm looking for to use in production, but the filesize is a deal breaker, I would be fine with reaching into internals to register a language or a light build.

[2016-07-19 12:04] conorhastings commented on #13
@goozo sounds good, I'll try to get it released this weekend.

[2016-07-20 01:06] gerardmrk commented on #13
@conorhastings yes that would be nice thanks!

[2016-07-26 14:53] joaomilho opened #14 "`Unknown prop` warnings"
Got this warning:

[code]

[2016-07-26 14:56] joaomilho commented on #14
Oh, version mismatch, my bad.

[2016-07-26 14:56] #14 closed

[2016-07-26 15:12] joaomilho commented on #9
+1

[2016-07-31 14:27] conorhastings commented on #13
@gerardmrk @goozo sorry for the delay, busy with work. See this commit https://github.com/conorhastings/react-syntax-highlighter/commit/90607dbb023becb7a8d816f3e433366acef47e46 (published as `v2.2.0`) and see if that works for you! I tried it ad able to see a 10x drop in package size for something I am using this for!

[2016-07-31 14:27] #13 closed

[2016-08-26 22:30] danilobjr opened #15 "Custom styles"
How can I have custom styles? The natural way is using ```style``` prop or CSS classes, but we have ```style``` for theming and, in my project, I can't use css classes.

[2016-08-27 13:44] conorhastings commented on #15
@danilobjr I've published `v2.3.0` which allows you to pass in a `customStyle` prop

[2016-08-27 13:44] #15 closed

[2016-08-27 20:27] danilobjr commented on #15
@conorhastings Oh man! Thank you so much! =]

[2016-09-10 23:04] JakeSidSmith opened #17 "Option to use standard style sheets / class names"
Hey, there.

Was really happy to see that someone had finally made an actual React syntax highlighter, not using dangerouslySetInnerHTML or other such undesirable methods. Good job.

I was, however, quickly disappointed when I saw that this uses inline styles, and inline styles only.

I am not a fan of this method of styling, there are numerous downsides over using standard CSS.

I was hoping to u

[2016-09-11 13:33] #17 closed

[2016-09-11 13:35] conorhastings commented on #17
@JakeSidSmith pubished `2.4.0` this allows you to pass in the prop `useInlineStyles={false}` and then use a css stylesheet from highlight.js

[2016-09-11 14:38] JakeSidSmith commented on #17
Wow, that was an incredibly quick response and resolution. Thanks a lot, I'll check it out. :)

[2016-09-14 19:23] bmathews commented on #9
Seems to be supported now.

[2016-09-14 20:21] bmathews opened #19 "No way to change font with inline styles"
Browsers have the following default css:

[code]

That means that currently there's no way to change the font when using `react-syntax-highlighter` without a `<style>` element overriding that. If you add a `fontFamily` style to the `<pre>` element, it has no effect.

It seems like a good solution would be to add `fontFamily: inherit` to the `<code>` element, but that'd be a breaking change for som

[2016-09-14 23:39] conorhastings commented on #19
This is interesting. The code tag is currently the only element you have no real access too. One option to prevent breaking change + undesirable potential effects is to have a prop for styling the code tag.

Another option, which seems kind of terrible but possible would be to pass a className in to the syntax highlighter as a prop(this will be spread into the top level pre) and then target the co

[2016-09-15 16:19] bmathews commented on #19
A codeTagStyle or prop or something would be ideal, yeah. That feels like kind of a weird/unfortunate (but necessary?) API, though.

I did end up adding a className to the pre tag, so now I'm injecting a style element onto the page when my wrapper component mounts. 😧

[code]

[2016-09-15 16:23] conorhastings commented on #19
@bmathews cool, yeah agreed that it's a bit awkward but neccesary to allow the user to keep control of the presentation. I'll try to get to get to this tonight, but would also accept a pr, should be a pretty minor change.

I definitely want to prevent things like your example

[2016-09-15 23:00] conorhastings commented on #19
@bmathews ended up implementing this as `codeTagProps` - just to satisfy other potential use cases (adding a className to the element etc...)

https://github.com/conorhastings/react-syntax-highlighter/commit/a79352ad63239d6809630e23ff540a11df2950aa

so for your use case you could do something like
[code]

<img width="627" alt="screen shot 2016-09-15 at 6 59 13 pm" src="https://cloud.githubusercont

[2016-09-15 23:00] #19 closed

[2016-09-15 23:01] bmathews commented on #19
That's perfect! Thanks so much!

[2016-09-15 23:02] conorhastings commented on #9
@bmathews cool, i'll try to take a look this weekend

[2016-09-16 01:48] bmathews commented on #9
Eh, nevermind, it's still not much better than the last screenshot despite some recent activity around it.

[2016-09-18 14:19] conorhastings opened #21 "create umd build"

[2016-09-21 23:53] PaulJuliusMartinez opened #22 "Add support for line numbers"
You should be able to automatically show line numbers via a `showLineNumbers` prop, and, additionally, you should be able to say what line number to start at (`firstLineNumber`?).

This would be very useful for when you want to show an entire file, but you want to put other things (like code review comments perhaps) between lines.

[2016-09-22 14:45] conorhastings opened #23 "add jest snapshot tests"

[2016-09-22 18:14] conorhastings commented on #23
closed by https://github.com/conorhastings/react-syntax-highlighter/commit/2a388ee3be713a01ed10a32040b14f9cf34ff417

[2016-09-22 18:14] #23 closed

[2016-09-24 00:39] cinder92 opened #25 "for react native?"
Hello is there any plan to build this for react-native?

thanks!

👍

[2016-09-24 14:27] conorhastings commented on #25
not currently supported but i don't think it would be to difficult. Would just need to map tagnames / style properties should basically be the same.

[2016-10-02 23:23] twe4ked commented on #22
I'd love this feature. It would be great if you could specify an element to wrap each line. That way you could add line numbers and/or row highlighting.

[2016-10-02 23:52] conorhastings commented on #22
@twe4ked I think an element to wrap each line is a bit more difficult than line numbers, since the number of dom elements on each line isn't defined and the spacing is achieved by the fact the pre respects white space/new lines

[2016-10-03 00:05] twe4ked commented on #22
Yeah I thought that might be the case. It also gets tricky with highlights that go over multiple lines.

[2016-10-03 00:27] conorhastings commented on #22
@PaulJuliusMartinez @twe4ked do you want to take a look at #27 and let me know what you think?

<img width="647" alt="screen shot 2016-10-02 at 8 27 38 pm" src="https://cloud.githubusercontent.com/assets/8263298/19024980/b120113c-88de-11e6-9242-6e85a70fcad0.png">

[2016-10-03 01:13] #22 closed

[2016-10-03 01:19] conorhastings commented on #22
published the line numbers in `2.8.0`

[2016-10-05 11:23] stefanheine opened #29 "Provide interface to low.highlightAuto(), to auto-guess the language"
I wonder if there is a way to use react-syntax-highlighter without providing the language information, internally making a call to low.highlightAuto(), guessing the language/ grammer from the provided source code.

[2016-10-05 11:48] conorhastings commented on #29
@stefanheine yes I believe this shouldn't be too difficult (though it wouldn't work if you were using the light entry point) we could hook in here - https://github.com/conorhastings/react-syntax-highlighter/blob/master/src/highlight.js#L67 if no language is provided as long as we check that highlightAuto is available

[2016-10-06 04:14] #29 closed

[2016-10-06 04:15] conorhastings commented on #29
@stefanheine published `2.9.0` with this

[2016-10-08 18:11] jonrimmer opened #31 "Lots of styles missing a background color"
A large number of the styles have no defined background color, e.g. ardunio-light, arta, brown-paper, color-brewer, etc.

This can be seen by selecting on one of these styles on the demo page.

[2016-10-09 13:50] #31 closed

[2016-10-09 13:55] conorhastings commented on #31
@jonrimmer thanks for the report! this should be fixed in `2.10.0` , you can check the demo page - http://conor.rodeo/react-syntax-highlighter/demo/ - and try it out!

[2016-10-09 13:58] jonrimmer commented on #31
Looking good! Great project btw :-)

[2016-10-09 14:15] conorhastings commented on #31
thanks!

[2016-10-24 15:25] coljung opened #34 "Build size - Lowlight dependency"
I was analyzing my bundle size with this tool: https://chrisbateman.github.io/webpack-visualizer/

It results show that node_modules are around 95% of my bundle size, and out of that 95%, 28% is taken by lowlight.

I see that you have a Light Build option, but im not sure how this would impact my final bundle size if i still have to load lowlight for it to work.

Is there a big reduction related t

[2016-10-24 15:27] conorhastings commented on #34
@coljung Yes the light build will allow you to only bring in the languages you use instead of all of the languages supported by highlight.js resulting in a drastically reduced bundle size. I was personally able to see a 10x package size drop - https://github.com/conorhastings/react-syntax-highlighter/issues/13#issuecomment-236432870

[2016-10-24 15:27] #34 closed

[2016-10-24 15:39] coljung commented on #34
Thanks for the quick response, will try implementing the light build then.

[2016-10-24 15:43] bmathews commented on #34
@coljung Here's an example  importing the light version and only the JS language, without needing `webpack.definePlugin`.

[code]

[2016-10-24 17:46] coljung commented on #34
@bmathews Yep, thx, thats the setup i have now.

If i try running the webpack visualizer tool, lowlight doesnt show up anymore ( very small footprint so it's not visible without having to zoom in!

So it went from over 700k to around 40k.

[2016-10-27 02:58] conorhastings opened #35 "provide interface to lowlight.registerLanguage"
this might make the light build a bit less clunky feeling, basically thinking it can just be named exprort which would allow doing something like

[code]

instead of having to import lowlight directly, what do you think @bmathews

[2016-10-27 03:11] bmathews commented on #35
Yeah, I like that. Not a fan of requiring libs I don't have in my package.json.

[2016-10-27 16:30] conorhastings commented on #35
published as `2.11.0`

[2016-10-27 16:30] #35 closed

[2016-11-28 12:16] yahiousun opened #39 "IE and Android support"
Bundle Not working  on IE 9-11 and Android 4.4 webview.

react-syntax-highlighter/dist/highlight.js line 31, Object doesn't support property or method 'assign'
[code]

[2016-12-01 06:01] liuxin1017 opened #41 "Can it make some line highlight?"

[2016-12-01 06:04] liuxin1017 opened #42 "the line number is wrong when i have a long line"
the line number is wrong when i have a long line, it will be counted as two line

[2016-12-01 13:20] conorhastings commented on #42
can you provide an example. Thanks!

[2016-12-01 13:21] conorhastings commented on #41
Do you mean highlight some lines and not others? I don't think that feature will be supported, sorry 😞

[2016-12-01 13:21] #41 closed

[2016-12-04 13:53] #21 closed

[2016-12-04 22:45] ben174 opened #44 "Each line wrapped in a div?"
Would it make sense to wrap each line in a `div`? My use case is that I'll be using this to highlight code coverage, so I'd like to have some lines with a different background color than other lines. I think this could also be useful for allowing people to highlight line ranges or click on the line number gutter to link to lines of code, like how GitHub does in source view.

[2016-12-05 01:13] conorhastings commented on #42
closing for now, will reopen if example can be provided.

[2016-12-05 01:13] #42 closed

[2016-12-05 01:13] conorhastings commented on #39
closed by #43 , thanks for the contribution!

[2016-12-05 01:13] #39 closed

[2016-12-07 18:24] kyleknighted opened #45 "Provide ability to make contentEditable"
This is probably one of the cleanest methods of syntax highlighting I've found that is easy to style and uses popular open source technology.
My biggest issue is that I can't use it because I need to be able to edit the highlighted code.

Maybe one day I'll find myself with enough free time to dig into that, but if you have that in the works, it would be an awesome introduction to this library.

[2016-12-08 05:11] conorhastings commented on #45
you should be able to pass in contentEditiable as a prop that will get spread to the component, in the past i've had issues with overwhelming React warnings in regards to contentEditible but have successfully implemented things like this - https://github.com/conorhastings/react-component-demo/blob/master/src/index.js#L53 - on top of this module. Let me kwnow if this helps.

[2016-12-08 05:14] conorhastings commented on #44
I believe the way the AST is provided by lowlight makes this more difficult then it would seem but i'll try to take a look if i get some time this weekend. Agree that it would definitely be nice

[2016-12-08 13:44] kyleknighted commented on #45
Yea, I was able to kill off those React warnings with a snippet like
[code]

[2016-12-08 16:15] bmathews commented on #44
Here's a idea piggy-backing off the LineNumber functionality. Work could be done in this library to make this easier and more dynamic with inline styles, obviously. This method wouldn't ever support line wrapping though, so hooking into the AST (if possible) would be the ideal solution.

http://www.webpackbin.com/VkOyz_MQG

[code]
[code]

[2016-12-08 23:10] conorhastings commented on #44
@bmathews I like this idea, one potential thing we could do is making lineNumberStyle optionally a function where we could provide arguments such as the line number allowing it to return a differnt style for each number?

[2016-12-10 00:40] conorhastings commented on #44
@ben174 just published version 4.01 implementing some of the stuff mentioned by @bmathews here you can see the pr here: #46 . Let me know if this helps solve your issue at all.

[2016-12-10 00:52] bmathews commented on #44
Quick example: http://www.webpackbin.com/E13xANNmM

![image](https://cloud.githubusercontent.com/assets/848347/21069517/7ec9dc8c-be2f-11e6-94ec-07f2acb47b2c.png)

[2016-12-12 23:59] ben174 opened #47 "Unable to registerLanguage"
When attempting to lighten my package using the registerLanguage example provided in the README, it doesn't seem to work. In fact the component seems to lose all styling. No errors or warnings are visible in the console, but the following code:

[code]

Renders a very basic:

![no style](https://cloud.githubusercontent.com/assets/1502483/21121893/d6f4135e-c083-11e6-9a61-bb767d62b666.png)

However

[2016-12-13 00:25] ben174 commented on #47
My bad! I was using an outdated package. Must be a new feature, thanks!

[2016-12-13 00:25] #47 closed

[2016-12-15 17:26] atambo opened #48 "code folding"
Is there any good way to implement json/html code folding with react-syntax-highlighter?

[2016-12-15 17:28] conorhastings commented on #48
not right now but theoretcally possible to extend line number functionality to allow this

[2016-12-15 17:35] atambo commented on #48
Do you mean by adding a new prop that would like add a class to a wrapper around the code block? The only structure I see in the markup is the span that wraps each line, so I'd need like a div to wrap around each "block" of code or something. Not sure what lowlight gives you in terms of detecting things like blocks of code like functions or objects etc.

[2016-12-15 18:13] conorhastings commented on #48
I'll look into knowledge of code block and try to get back to this over the weekend. Love the idea though

[2016-12-16 19:36] vyky commented on #25
Looking forward for react native :thumbsup:

[2016-12-18 01:03] conorhastings commented on #48
Lowlight uses highlight.js under the hood, and since highlight.js doesn't support the neccesary primitives to makes this possible, ie we're returned things like the span to wrap around a `const` and another span to wrap around `variableName` but not anything that denotes blocks it would be hard to make this happen, going to close for now pending a breakthrough in highlight.js

[2016-12-18 01:03] #48 closed

[2016-12-18 01:04] conorhastings commented on #44
going to close for similar reasons as #48 , we simply don't get enough information to do this.

[2016-12-18 01:04] #44 closed

[2016-12-30 16:43] gala132 opened #49 "Hook events"
Hi!

Is there a way to hook on the render events or any events?
If I have a longer code of html for example rendering, then it takes a lot of time and the UI is blocking that way so the best would be if I could hook on the event when the rendering of the code is finished and display a loader in the meanwhile.

[2016-12-31 14:58] conorhastings commented on #49
so you basically want to be able to hook into componentDidMount and componentDidUpdate events so you can know when a render has occurred?

What do you think of #50

[2016-12-31 15:41] gala132 commented on #49
The problem right now is the following:
I would like to be able to display a loading bar while the string is rendering somehow.
Now the problem is that I have a very long html string and when I display it in the Syntaxhighlighter elements, it takes 5-7 seconds to render it highlighted so I would like to be able to display a bar while it is rendered. Right now it just blocks the UI for the time it

[2016-12-31 16:27] conorhastings commented on #49
React does not really provide the exact mechanics you're looking for but depending on. I haven't tried this myself but if this component allowed hooking into component lifecycles methods as illustrated in #50 something like this should work:

[code]

[2016-12-31 17:55] conorhastings commented on #49
alternatively (since i'm not entirely suer i want api complexity of #50) just create a wrapper component for syntax highlighter in your app and implement these methods, since children are guaranteed to render first you can be sure the syntax highlighting will have rendered.

[2016-12-31 21:50] gala132 commented on #49
If i make it like you proposed to (Add the componentWillReceiveProps, componentDidMount, componentDidUpdate on the element) it displays an error and does not work like you described it.
The error is the following:
`Warning: Unknown props `componentWillReceiveProps`, `componentDidMount`, `componentDidUpdate` on <pre> tag.`

[2017-01-01 19:57] conorhastings commented on #49
@gala132 sorry that code was just meant as a hypothetical possibility if #50 was merged. I think though it's not worth the added complexity in core, you should be able to solve in userland with a wrapper around this component, something like this

[code]

[2017-01-01 20:34] bmathews commented on #49
For a big file, you'll be rendering thousands of elements. The only way to
solve that is to lazy render elements based on viewport size and scrollTop,
which isn't really possible unless we're able to wrap each line in an
element.

On Jan 1, 2017 12:09 PM, "gala" <notifications@github.com> wrote:

[2017-01-01 20:49] gala132 commented on #49
All right.
So this is not really possible with the library "as is", this now basically works for small lines of code. Are there plans to "make it work" with more lines like the example I described?
Otherwise I will have to move to server side rendering which I wanted to not have in the first place.

[2017-01-01 22:01] gala132 commented on #49
Well, I probably won't need that much though, but was just considering a case of that.
But thank you for your work, it works flawlessly. Keep up the good work. :+1:

[2017-01-27 01:07] lukaswelinder commented on #9
@conorhastings For some reason JSX syntax highlighting is still not working. It appears alright on the demo though; any ideas?

[2017-02-13 02:33] conorhastings commented on #44
@ben174 just published v 5.0.0 which enables this with a wrapLines prop, if using wrapLines can use a lineStyle prop as either object, or function that recives line number to style individual lines.

You can see an example <a href="http://conor.rodeo/react-syntax-highlighter/demo/diff">here</a>

[2017-02-13 02:39] conorhastings opened #53 "lazily render elements not on screen"

[2017-02-13 02:40] conorhastings commented on #49
@gala132 created #53 to explore potential lazy render - the newest release which allows line wrapping should allow us to explore

[2017-02-13 02:40] #49 closed

[2017-02-13 21:40] bmathews commented on #53
Most lazy/virtualized rendering components/hocs require either

1) A flat list of elements for it to lazy render
2) A `rowRenderer` method for you to return a single row, as well as the number of items and rowHeight

It might make sense expose a `renderer` prop (or something like it() that allows custom rendering of all the row elements. In the case of react-virtualized, it could look something li

[2017-02-14 00:28] conorhastings commented on #53
@bmathews I like that, that way naive render everything default renderer can be built in and users could use react-virtualized or whatever they like to handle the rest

could also release a react virtualized plugin but not needed as part of core

[2017-02-17 02:57] bvaughn commented on #53
I'm a fan of releasing a separate plugin/adapter. I've done this with things like react-select to tie it into react-virtualized and js-search and it's worked out nicely.

[2017-03-16 19:10] conorhastings opened #55 "add tests for multiple languages"
assure changes don't break as many languages as possible

[2017-03-22 00:29] conorhastings commented on #53
now possible with custom renderers and https://github.com/conorhastings/react-syntax-highlighter-virtualized-renderer 🆒 😎 , thanks for the input everyone!

[2017-03-22 00:29] #53 closed

[2017-03-28 18:26] dcsaszar opened #56 "`wrapLines=true` removes leading whitespace before `<`"
### Input
[code]

### Actual output
[code]
### Expected output
[code]

The output is as expected with `wrapLines={false}`.
Update: It's also correct with `language="html"`.

[2017-03-28 18:29] bmathews opened #57 "Demo link in README gets redirected to conor.rodeo instead of demo"

[2017-03-28 20:55] #57 closed

[2017-03-30 13:25] conorhastings commented on #56
@dcsaszar thanks, will try to take a look this weekend

[2017-04-01 12:27] vaibhavswarnkar opened #61 "How to provide custom classes"
How do I customize the styling of code string I'm providing to the Highlighter.
Example I've a string JSON available and I want the color of attributes to be different than shipped with themes.

[2017-04-01 12:51] conorhastings commented on #61
@vaibhavswarnkar you can provide your own theme, you would just need to pass in something fulfilling these properties -- https://github.com/conorhastings/react-syntax-highlighter/blob/master/src/styles/agate.js

[2017-04-01 12:51] #61 closed

[2017-04-02 19:17] #56 closed

[2017-04-02 20:06] conorhastings commented on #56
@dcsaszar fixed in `v5.1.3`

[2017-04-04 12:46] dcsaszar opened #63 "`wrapLines` sometimes wraps more than one line"
[code]

### Actual
Line 2,3, and 4 share a common highlighter line border.

### Expected
Each of the four lines gets its own border.

[2017-04-05 03:32] conorhastings commented on #63
i'll take a look as soon as i have time, thanks

[2017-04-08 19:51] #63 closed

[2017-04-23 12:47] conorhastings commented on #45
I don't think we'll add support for this in library, if anyone finds a good solution i'd be happy to showcase a demo though

[2017-04-23 12:47] #45 closed

[2017-04-26 13:17] forresto opened #68 "light build highlight.js version"
I really appreciate this project, and the [light build](https://www.npmjs.com/package/react-syntax-highlighter#light-build) directions.

With
[code]
though I'm ending up with different versions of highlight.js in my project's node_modules vs react-syntax-highlighter's node_modules. It works, but I wonder if you could make a script similar to [build-stylesheets.js](https://github.com/conorhastings/

[2017-04-26 13:22] conorhastings commented on #68
@forresto yeah that sounds like a solid idea, not sure when i would have time to work on it but if you want to give it a shot, go for it.

[2017-04-30 20:46] conorhastings commented on #25
@cinder92 @vyky it's been a while but i finally got around to having time to work on this, published as a seperate package -- https://github.com/conorhastings/react-native-syntax-highlighter

[2017-04-30 20:46] #25 closed

[2017-05-04 01:48] zjkyz8 opened #70 "[Question] line style does not work as I expected"
Sorry to create an issue here.
Now I am using this component to create a git diff view component. I found if some of the codes are too long to overflow the width of highlighter, the background of line will be cut.  You can get more info from below screenshot.
![image](https://cloud.githubusercontent.com/assets/1856389/25688076/82a89b58-30ae-11e7-8496-3935d1dca218.png)

If this issue is not a good

[2017-05-04 03:51] conorhastings commented on #70
@zjkyz8 I'm not sure i understand, did you manually edit the size of the pre tag on that page? could that have something to do with it?

[2017-05-04 05:44] zjkyz8 commented on #70
no, i do not change the size of pre tag, I just declare a div with a width limitation,  and put highlight in that div. my jsx like below:
`<div>
	<div style={{width: '50%', overflow: 'auto'}}>
        	<SyntaxHighlighter language={language} wrapLines showLineNumbers='true'
			lineStyle={lineNumber => this.constructor.generateLineStyle(oldCodes, lineNumber, 			'deleted', '#ffecec')}
			style={docco

[2017-05-04 11:52] conorhastings commented on #70
thanks for providing the code, i'll take a look tonight

[2017-05-05 16:54] ernieturner opened #71 "Open source license?"
This project currently doesn't have a LICENSE file so it's unknown what can be done with this code. Would it be possible to add a license to this so it can safely be used by consuming projects?

https://choosealicense.com/

[2017-05-05 17:03] #71 closed

[2017-05-05 17:04] conorhastings commented on #71
added here -- https://github.com/conorhastings/react-syntax-highlighter/commit/2a21fda14f1a1c8ec5bd5a61c1b5aa7ef070b35f

and published `v5.5.1` so there is a version on npm with a license

[2017-05-05 17:05] ernieturner commented on #71
Thank you!

[2017-05-06 05:34] kand617 opened #72 "Language detection fails renders no element"
When the following element is rendered, I get a empty code element.

[code]
![image](https://cloud.githubusercontent.com/assets/5092518/25770159/36415f54-3282-11e7-8ec3-f9c357f72d0a.png)

![image](https://cloud.githubusercontent.com/assets/5092518/25770156/2a9d57f2-3282-11e7-82b4-61b244758eb5.png)

[2017-05-07 11:12] conorhastings commented on #72
@kand617 i was unable to reproduce, can you post a sample of your code? Here's what i tried

<img width="746" alt="screen shot 2017-05-07 at 7 11 46 am" src="https://cloud.githubusercontent.com/assets/8263298/25780362/905c3960-32f4-11e7-8aed-338572259411.png">
<img width="596" alt="screen shot 2017-05-07 at 7 11 38 am" src="https://cloud.githubusercontent.com/assets/8263298/25780364/91ffcd18-32f4-

[2017-05-07 20:16] kand617 commented on #72
Hi @conorhastings ,

Perhaps I forgot to mention that it I am not using the whole suite of languages. Using the light version.
[code]

[2017-05-07 21:08] #72 closed

[2017-05-07 21:08] conorhastings commented on #72
@kand617 ahh, I think this is because the snippet is too small for highlightAuto to find a suitable language from those that are registered, I've published `v5.5.2` to make sure it at least renders the passed in string even if it's without highlighting

[2017-05-09 09:38] zjkyz8 commented on #70
Sorry to reply so late, I tried your solution, the problem is still there. I guess the root cause is span limitation, but I can not get a way to verify my guess.

[2017-05-09 11:56] conorhastings commented on #70
@zjkyz8 thanks for trying that, I'll have time in  the next couple days to take a look and will update here

[2017-05-11 12:31] conorhastings commented on #68
closed via #69 and published in `v5.6.0`, thanks!

[2017-05-11 12:31] #68 closed

[2017-05-13 20:05] conorhastings commented on #70
@zjkyz8 can you show me wht this function looks like -- generateLineStyle

[2017-05-13 20:40] #55 closed

[2017-05-15 03:28] zjkyz8 commented on #70
Yes, of course.
basically speaking, this method decide whether we need add a diff style on a line.
you can access this link http://conor.rodeo/react-syntax-highlighter/demo/diff.html.
I do the same as demo in link.

[2017-05-18 08:33] roeyhorw opened #74 "The whole line is commented when using wrapLines"
![issue](https://cloud.githubusercontent.com/assets/4451461/26193314/9d8cc79a-3bbd-11e7-8a76-07b635051834.png)

and thanks for the great project

[2017-05-18 20:47] conorhastings commented on #74
@roeyhorw can you post your code if possible?

[2017-05-19 16:20] roeyhorw commented on #74
`
    render() {

        const code = "int a;\ndo_something(a);//commnet"
        return (
                <SyntaxHighlighter language='cpp'
                    style={arta}
                    wrapLines={true}

                {code}
                </SyntaxHighlighter>
        )
    }
`

[2017-05-21 18:26] conorhastings commented on #74
thanks for the pr, published as `v5.6.1`

[2017-05-21 18:26] #74 closed

[2017-05-24 04:05] conorhastings commented on #70
@zjkyz8 there are likely other ways to style that will support your use case but i'm not sure anything needs to be changed in the module to do it. i'm not sure of a solution but if you find one that requires change to the highlighter I woud definitely accept a pr, thanks! sorry i couldn't be of more help

[2017-05-24 04:05] #70 closed

[2017-05-25 13:35] KirioXX opened #76 "lineStyles attached to line children and missing line numbers"
![screen shot 2017-05-25 at 14 17 28](https://cloud.githubusercontent.com/assets/11646702/26451703/10a567cc-4155-11e7-96a7-e87a7c83769c.png)

I have as you can see, in the picture, a problem with the lineStyles.
At first, they are attached to the child spans, with this I have the problem that I get unexpected line breaks. Probably are this line breaks also the problem why the line numbers break up

[2017-05-25 14:11] conorhastings commented on #76
@KirioXX thanks for the issue, could you by any chance post the version of the module you're using and if possible the contents of this.props.codeFile

Thanks!

[2017-05-25 14:32] KirioXX commented on #76
Thanks for the response. Yes the version of react-syntax-highlighter is 5.6.1, with the typings on version 0.0.2 and the content of this.props.codeFile is this:
[code]

[2017-05-25 14:36] conorhastings commented on #76
@KirioXX thanks, i'm at work now, i'lll look into this tonight

[2017-05-29 21:16] conorhastings commented on #76
@KirioXX it appears this was broken in 5.6.1, apologies, it should work correctly if you use 5.6.0 and i'm going to look into what broke it today. Sorry again.

[2017-05-29 21:16] conorhastings commented on #76
I'll utilize a version of your code to make a test for future versions, thanks 👍

[2017-05-30 03:35] conorhastings commented on #76
should be fixed now, with test added from your example

`v5.6.2` for fixed version, thanks again for the report

[2017-05-30 03:35] #76 closed

[2017-05-30 08:07] KirioXX commented on #76
@conorhastings Thank you very much, it works perfect 👍

[2017-05-30 12:03] conorhastings commented on #76
@KirioXX no problem, thanks again for the great report

Sorry it took so long to get to

[2017-06-02 01:32] enzolutions opened #78 "Light Build and Webpack 2 still load all highlight.js languages"
Hi folks.

Thank you for this awesome package.

Today I was to raise an issue related wit bundle size.

I am trying to use the light build as you can see in the following code

[code]

But when you use **Webpack 2** to create a package, the [tree shaking](https://webpack.js.org/guides/tree-shaking/) logic doesn't work as you can see in the following image.
<img width="543" alt="all-languajes-inclu

[2017-06-02 01:51] bmathews commented on #78
I believe when you do a dynamic require like that, webpack can't determine what to include so it just includes the whole folder of the static string part of your require. Try switching to just 7 static imports and see if that solves the problem.

[2017-06-02 02:30] conorhastings commented on #78
@bmathews yup believe that's correct

[2017-06-02 03:25] enzolutions commented on #78
Hi @bmathews and @conorhastings

I just update my code as you suggested.

[code]

Also I did an update in my webpack with the following entries

[code]

Also, I am using  [CommonsChunkPlugin](https://webpack.js.org/plugins/commons-chunk-plugin) to create a separate file to be loaded in browsers
[code]

However, the output is the same with all languages inside.

<img width="524" alt="screen shot 20

[2017-06-03 06:26] bmathews commented on #78
Why are you loading in all of highlight.js?

`"syntax-highlighter": ['react-syntax-highlighter/dist/light', 'highlight.js'],` ?

[2017-06-03 06:35] bmathews commented on #78
That'll give you everything required in: https://unpkg.com/highlight.js@9.12.0

[2017-06-05 17:08] mjomble commented on #42
This can happen when using something other than `pre` as `PreTag` or applying a style like `white-space: pre-wrap`, etc.

Would be nice if this component allowed wrapping long lines without messing up the line number alignment, but that sounds like a tricky task :)

[2017-06-05 17:12] conorhastings commented on #42
@mjomble feel free to create an issue about that and i'll happily look into it, please provide code if possible

[2017-06-06 01:04] enzolutions commented on #78
Hi,

I removed that, but now I got an error in execution.

syntax-highlighter.js:190 Uncaught TypeError: syntax is not a function

<img width="421" alt="screen shot 2017-06-06 at 11 04 29 am" src="https://cloud.githubusercontent.com/assets/907914/26809419/f3879460-4aa7-11e7-8599-5c27d8eede95.png">

[2017-06-14 07:09] lopis commented on #9
Not a solution, but using HTML syntax works well for the HTML part of JSX.

[2017-07-31 19:41] SeanSilke opened #80 "Duplicate package highlight.js"
Hello @conorhastings.

There is duplication of highlight.js in dist build of your lib.

Your lib require[ highlight.js": ~9.8.0](https://github.com/conorhastings/react-syntax-highlighter/blob/master/package.json#L8) and [lowlight": ^1.5.0](https://github.com/conorhastings/react-syntax-highlighter/blob/master/package.json#L8)
The lowlight that is end up in use is "1.9.0" i.e the latest.
And that la

[2017-08-02 11:49] conorhastings commented on #80
@SeanSilke thanks for the issue, I'll try to get to it this weekend, if you have ideas of an ideal solution though feel free to submit a pr

[2017-08-03 18:35] wooorm commented on #9
[`refractor`](https://github.com/wooorm/refractor) may help! 😉

[2017-08-11 21:46] zsherman commented on #78
@enzolutions got this too, if you're trying to use a language in the new version of highlight.js that isn't in `react-syntax-highlighter/dist/languages` you'll see this error. Really there should be a simple way to keep the two packages up to date.

[2017-08-12 14:13] conorhastings commented on #80
@SeanSilke published `v5.6.3` which should allviate will try to keep up to date in the future / set up greenkeeper

[2017-08-12 14:13] #80 closed

[2017-08-13 23:13] conorhastings commented on #78
@enzosolutions @zsherman are you still seeing this on the latest version?

[2017-08-14 11:54] SeanSilke commented on #80
@conorhastings grate thank!

 Sorry for long response. Does't make PR because was not sure why you chose to use ~version for packets instead of ^version.

One thing more: In current form you will need manually manage upgrading of version.

Maybe it is good idea to use peerdependencies for highlight.js? Setup the range of version and npm will emit warnings if range is not met.

[2017-08-14 12:13] conorhastings commented on #80
@SeanSilke going to update highlight.js to be a dev dependency since currently only used to build assets and not neccearily for any actual use of app, thanks for the idea!

[2017-08-14 14:02] zsherman commented on #78
looks good, thanks @conorhastings

[2017-08-14 14:14] enzolutions commented on #78
I am not able to test in next two days, but I am wondering if @zsherman could share how he tested the latest version.

Kind regards,

[2017-08-14 14:45] SeanSilke commented on #78
@enzolutions There is update of the package on npm the version is v5.6.3.
 You can use` npm update react-syntax-highlighter`.

[2017-08-15 01:01] #78 closed

[2017-08-21 11:40] will-hart opened #82 "Unknown language breaks highlighter"
I'm using `react-syntax-highlighter` to highlight markdown user input. The user can manually type in the language that is being used in fenced code block style, e.g.

[code]

The problem is that when the user is typing in the language, i.e. they hit `j` in the example above, `react-syntax-highlighter` tries to render in the language `j`, which means it throws an "unknown language" error and stops

[2017-08-22 00:18] conorhastings commented on #82
@will-hart nice catch, fixed in `v5.7.0` by falling back to highlightAuto if language is not registered

[2017-08-22 00:19] #82 closed

[2017-09-05 22:56] joelgriffith opened #83 "Error rendering in core.js"
Love the library, I agree with all the underlying principals! Having issues (at least in the lite version):

[code]

I think this is due to `children` being an array and being passed directly through? Here's my usage:

[code]

[2017-09-07 02:33] conorhastings commented on #83
hmm, I can't seem to reproduce - https://www.webpackbin.com/bins/-KtPA9bNnvUmcroaCU5B

do you have any more info perhaps?

[2017-09-11 15:29] adack123 commented on #83
@conorhastings I'm also experiencing something very similar to @joelgriffith. Even with just a bare bones example I'm still getting that error

`Uncaught (in promise) Error: Expected `string` for value, ...`

[code]
Any ideas?

[2017-09-11 15:42] joelgriffith commented on #83
I've found the offending line here:

[code]

A few other things to note: I'm using `preact` with their compat library. I don't think that should effect the bug that much as react itself also exposes `children` as an array as well. Just wanted to makes sure that was understood.

[2017-09-12 19:11] deniztetik commented on #9
Had the same problem. Just used [`react-codemirror`](https://github.com/JedWatson/react-codemirror) instead for JSX. It doesn't seem to have the same issue.

[2017-09-17 15:40] conorhastings commented on #83
@joelgriffith I'm relatively certain that react passes children as whatever is passed into React.createElement while im not sure what preact does

[2017-09-21 09:40] Smert opened #84 "Changelog"
Create `CHANGELOG.md` please

[2017-09-22 15:12] goto1 commented on #83
also having the same exact issue... `Expected `string` for value, got `(num) => num + 1`` with the example `light build` example ... using a `preact` project that was generated using `preact-cli`, but it supposedly is compatible with `react` libraries, so it shouldn't be much of an issue...

[2017-09-22 15:36] joelgriffith commented on #83
I'll do some investigation today. Definitely feels like a preact or preact-compat issue. I'll report back to this thread once I hunt it down

[2017-10-09 00:30] conorhastings commented on #84
will add for future changes and try to backfill when i have time thanks

[2017-10-09 00:30] #84 closed

[2017-10-11 10:12] conorhastings commented on #83
@joelgriffith did you ever find anything?

[2017-10-16 16:18] joelgriffith commented on #83
Unfortunately not, I think this is has to do with a slight implementation difference between preact and react... of which I've found a few. I'll see if I can dive deeper and find an answer

[2017-10-16 21:07] conorhastings commented on #83
@joelgriffith I'm relatively familiar with preact so I'd love to find a solution, is there anyway you can put together a reproduce use case on https://webpackbin.com that I can take a look at it?

[2017-10-16 21:26] joelgriffith commented on #83
Hrm, webpackbin doesn't seem to support resolve aliases, which is how this is supposed to be setup with preact.

Here's a repo instead: https://github.com/joelgriffith/react-syntax-preact-bug. In particular is https://github.com/joelgriffith/react-syntax-preact-bug/blob/master/src/Hello.js where I mount and use the highlighter

[2017-10-16 21:28] conorhastings commented on #83
🆒 ! thanks, I'll check it out tonight

[2017-10-16 21:30] joelgriffith commented on #83
Thanks Conor! Really appreciate your persistence here, let me know if I can jump in and help

[2017-10-16 21:50] conorhastings commented on #83
@joelgriffith believe it's resolved in `v5.7.1` , can you confirm?

[2017-10-16 22:03] joelgriffith commented on #83
🌭 ! Fantastic, works great!

[2017-10-16 22:04] #83 closed

[2017-10-25 01:53] o02112 opened #86 "Wraps automatically"

[2017-10-25 04:27] conorhastings commented on #86
@o02112 can you describe more in detail?

[2017-10-26 03:05] 1999 opened #87 "Disable syntax highlighting"
First of all thank you for react-syntax-highlighter. We use it in [atlaskit](https://bitbucket.org/atlassian/atlaskit/src/master/packages/code/src/Code.tsx?fileviewer=file-view-default) library and it's great!

There's an issue which we're still missing in react-syntax-highlighter: disable syntax highlighting. It looks like lowlight.js is also missing this feature while highlight.js supports this

[2017-10-26 03:30] conorhastings commented on #87
but i've published `v5.8.0` which allows passings `text` as a language.

Thanks for the issue!

[2017-10-26 03:30] #87 closed

[2017-10-26 04:13] 1999 commented on #87
@conorhastings hm, it's still missing here: https://github.com/conorhastings/react-syntax-highlighter/blob/master/AVAILABLE_LANGUAGES.MD

[2017-10-26 10:14] o02112 commented on #86
If a code line is longer than the container's width. It might Wraps automatically

[2017-10-26 10:52] conorhastings commented on #87
@1999 it is I've implemented a more complete solution and pushed a patch . It won't show up here --  https://github.com/conorhastings/react-syntax-highlighter/blob/master/AVAILABLE_LANGUAGES.MD -- because this is a list of importable language syntaxes which text is not, i've made a not in the language section of the readme though. Thanks for the feedback

published `v5.8.1` if you want to check th

[2017-11-01 06:51] FatihBAKIR commented on #86
Not only it breaks the code, it also creates a new line number for the remaining part of the line

[2017-11-13 01:06] conorhastings commented on #9
@maxmcd nice

definitely interested in pulling this in although probably with an option to use with highlight.js or refractor (will need a non confusing way of determining language availability and styles though so requires some thinking)

Ill try to take a look at your code soon

[2017-11-13 01:08] maxmcd commented on #9
@conorhastings Awesome. Yes, agreed, would be particularly interested in your thoughts on the cross-parser language/style issue. Couldn't think of an elegant way to combine those two.

[2017-11-13 01:18] conorhastings commented on #9
@maxmcd my initial thought is allow passing in an astGenerator (lowlight, or refractor, default to lowlight). Then use dev mode warnings if style or language not available for that particular module.

still don't love that though, so will give more thought

[2017-11-13 01:20] maxmcd commented on #9
@conorhastings ah, and then less about building available styles and more about dynamically passing values. That's not too bad

[2017-11-13 01:23] conorhastings commented on #9
@maxmcd basically made a pr from your branch and will branch off and work through some ideas, i'll ping you for a look some time soon

[2017-11-13 15:56] afraser commented on #86
Sounds outside the scope of this project. What you're describing could be emulated with css or fully handled by a code formatter like [prettier](https://github.com/prettier/prettier)

[2017-11-16 21:06] ansermino opened #90 "Importing style in example has incorrect path"
It would appear that styling is in `react-syntax-highlighter/src/styles/hljs` not `react-syntax-highlighter/styles/hljs` as per the example in readme.md

[2017-11-16 21:29] conorhastings commented on #90
thanks for the report, `v6.0.2` should fix

[2017-11-16 21:29] #90 closed

[2017-11-17 06:30] conorhastings commented on #9
now supported when imported 'react-syntax-highlighter/prism' and jsx as language. this is very new so please report any bugs you see when using with prism/refractor

thanks for the extreme patience!

[2017-11-17 06:30] #9 closed

[2017-11-18 01:00] tomtwttr opened #92 "Editable Code"
I was able to get static code up and running with react-syntax-highlighter quickly but I'm still struggling with an editable version. Any chance one of you guys/gals have the bandwidth to add some sort of simple onChange props support that works with line numbers?

I was hoping I'd be able to use SyntaxHighlighter like this...
[code]

[2017-11-22 10:41] markbrown4 opened #93 "Silence warnings in React 16"
There's warnings running the prism highlighter in `react-dom@16.0.0`

[code]

[2017-11-22 12:25] conorhastings commented on #93
@markbrown4 published `v6.0.4` which i believe will fix your issue, please let me know!

[2017-11-22 13:26] markbrown4 commented on #93
Thanks! I can't seem to download `v6.0.4` though

[2017-11-22 14:27] conorhastings commented on #93
@markbrown4 sorry forgot to publish, can you try now

[2017-11-22 14:34] #93 closed

[2017-11-26 16:59] conorhastings commented on #92
content editable in react is difficult, it should be theoretically possible to implement on top of this library (maybe draftjs would provide good examples) but I don't think it will be implemented as part of this library

[2017-11-26 16:59] #92 closed

[2017-12-09 02:27] conorhastings commented on #86
agreed with @afraser but please let me know if being interpreted wrong

[2017-12-09 02:27] #86 closed

[2017-12-10 13:24] conorhastings commented on #84
@Smert sorry for the delay, finally got around to adding a changelog, fully backfilled

[2017-12-13 22:49] GeeWizWow opened #95 "Prism-themes dependency"
Hey

We're having some issues with the prism-themes dependency being listed as a repo url on our build agents that don't have git installed.

Would it be possible to either put it into dev-dependencies (it doesn't look like it's used at all a part from pre-publish) or use the npm package ?

https://www.npmjs.com/package/prism-themes

Happy to submit a pr for one or the other.

Cheers, Finn

[2017-12-15 01:19] conorhastings commented on #95
published as `v6.1.1` , thanks!

[2017-12-15 01:19] #95 closed

[2017-12-15 07:25] GeeWizWow commented on #95
Thanks a million, cheers

[2017-12-31 06:16] danawoodman opened #97 "Need for hardcoded container styles?"
Is there a reason that react-syntax-highlighter includes inline styles directly on the wrapper `<pre>` tag?

This makes changing the default styling next to impossible, especially since they're style tags on the element and there is no way to override them from what I can tell. A use case I have come across is using this plugin to render inline syntax highlighting.

It appears this is defined in t

[2017-12-31 14:51] conorhastings commented on #97
it should be possible to remove. you can essentaily do this
[code]

[2017-12-31 14:52] conorhastings commented on #97
you can also pass in a customStyle attribute if you which to also add styles to the pre tag

[2018-01-01 19:39] danawoodman commented on #97
@conorhastings thanks for the tips, I will try these out!

[2018-01-01 19:39] #97 closed

[2018-01-02 20:57] aarondack opened #98 "JSX Highlighting issue"
Hi there,

I seem to have run into an issue where jsx highlighting is not happening. This is testing react-syntax-highlighter in CRA with just this lib installed.

[code]

![image](https://user-images.githubusercontent.com/8890348/34499557-a048b4c8-efd4-11e7-9d40-93123865d6b0.png)

When I use `hljs` I get colored versions but obviously not the correct jsx highlighting. Any ideas?

[2018-01-02 21:20] conorhastings commented on #98
@aarondack at work now, but will try to look into this tonight, thanks for the report

[2018-01-03 00:56] conorhastings commented on #98
@aarondack looks like you just hava a typo, langugage="jsx" should be language="jsx" , i tested myself, but please let me know if it's not working for you still

[2018-01-03 00:56] #98 closed

[2018-01-03 03:43] aarondack commented on #98
@conorhastings Derp, sorry for the bother!

[2018-01-08 18:32] stereokai commented on #78
How do you get this awesome visual breakdown of your dependency tree?

[2018-01-13 15:17] esr360 commented on #9
[code]

Seems to work great 🎉

[2018-01-14 13:37] esr360 opened #99 "Is it possible to use existing tools to remove indentation/whitespace using prism?"
In a nutshell I'm basically trying to ensure that this gets formatted correctly:

[code]

I've attempted to use [preCode.js](https://github.com/leeoniya/preCode.js?files=1), with the result being the following: https://imgur.com/a/PdYNo - the formatting works, but all highlighting has been removed.

Is it possible to achieve this with my setup?

[2018-01-14 14:05] conorhastings commented on #99
not sure about that or anything altering the dom that way working well with react, i found this package -- https://github.com/cspotcode/outdent -- that i think is doing what you want if i understand correctly, though requires you to make the function all the template literal

example -- https://codesandbox.io/s/8yvp354938

without the code  -- https://8yvp354938.codesandbox.io/

hope this helps, g

[2018-01-14 14:05] #99 closed

[2018-01-15 11:16] esr360 commented on #99
Ok thanks for the quick reply. I will keep looking for a solution, your links look useful, thanks!

[2018-01-19 14:01] esr360 commented on #99
I ended up just doing this, seems to work a treat:

[code]

[2018-01-24 06:03] clevernyyyy opened #101 "Is there a way to add onClick event to line wrap?"
I'm looking to add event to each line through an `onClick` property.

Essentially, I wanna highlight a row on click and create a popup.  I'm looking into the highlight's `wrapLinesInSpan` function, but I am not sure how to make it work.
https://github.com/conorhastings/react-syntax-highlighter/blob/master/src/highlight.js#L78

I am very impressed with this project and really hope that someone has

[2018-01-24 21:02] clevernyyyy commented on #101
I ended up fixing it with this _super_ stitched together "fix".  It would be cool if this were ever to be considered as a future feature.  Leaving this open, if no response soon, I'll just close and stick with my temp solution.

[code]

[2018-01-24 21:05] conorhastings commented on #101
@clevernyyyy cool, already started working this morning on what will likely be a major version release, allowing for arbitrary props to through to the lines, which will allow click events, so please leave open, thanks!

[2018-01-24 21:34] clevernyyyy commented on #101
Awesome, thanks @conorhastings!

[2018-01-25 17:14] MichaelMarcialis opened #102 "Possible to apply className to <pre> element?"
Forgive me; I'm still a bit new to React. I've implemented your `react-syntax-highlighter`, but am currently unable to apply a custom class to the containing `<pre>` element being generated. Using the prop `className` on the component does nothing, and the README only indicates that the `<code>` elements class is alterable. Is there currently no way to apply a custom class to the `<pre>` element?

[2018-01-25 18:21] conorhastings commented on #102
Yes, props that are not specfically mentioned will be spread through to the pre element (see this mentioned at end of prop section)

simple example here -- https://codesandbox.io/s/x2zyp7x43o

[2018-01-25 18:21] #102 closed

[2018-01-26 02:19] conorhastings commented on #101
@clevernyyyy released 7.0.0 which supports `lineProps` and removes `lineStyle`

example use

[code]

[2018-01-26 02:21] #101 closed

[2018-01-26 03:44] clevernyyyy commented on #101
@conorhastings - you're a legend mate, thank you!

[2018-01-31 19:46] LorenzoFerri opened #104 "Make links clickable"
Let's say I have something like:
[code]
Is there a way to make the link clickable when I render it?

[2018-02-02 01:39] conorhastings commented on #104
that's probably out of scope for this project but with lineProps and some native dom interaction you could probably make something work.

[2018-02-02 01:39] #104 closed

[2018-02-25 14:25] AshCoolman opened #105 "FYI readme on npm is out of date"

[2018-02-25 14:28] conorhastings commented on #105
which part specifically?

[2018-02-28 14:45] shanedaugherty opened #106 "registerLanguage not exported"
Getting this error when using the example code from the docs:

[code]

[code]

[2018-03-03 11:34] conorhastings commented on #106
I'm unable to reproduce -- https://codesandbox.io/s/6ro18o3r3. -- perhaps a problem with your build setup?

[2018-03-03 11:34] conorhastings commented on #105
closing pending more info

[2018-03-03 11:34] #105 closed

[2018-03-05 10:40] ivgrin opened #107 "Issue with json/js in jsx"
I'm trying to render this code:

    <Table
        preset="example"
        data={[
            {
                id: 1,
                name: "Name1",
                new: false
            },
            {
                id: 2,
                name: "Name2",
                new: true
            }
        ]}
        rowClass={row => {
            if (row.new) {
                return "new";

[2018-03-05 13:23] ivgrin commented on #107
package.json:

    "react-syntax-highlighter": "^7.0.1"

In use:

    'use strict';

    import React from 'react';
    import SyntaxHighlighter from 'react-syntax-highlighter/prism';
    import style from 'react-syntax-highlighter/styles/prism/pojoaque.js';

    export default class Example extends React.Component {

        render() {

            let customStyle = {
                ...style,

[2018-03-19 07:41] o02112 opened #110 "unusual color after comments in javascript mode"
unusual color show when a word after comments
![image](https://user-images.githubusercontent.com/4658927/37583187-45c519d6-2b8b-11e8-9bf0-f91f68ea064a.png)
![image](https://user-images.githubusercontent.com/4658927/37583209-63847ae8-2b8b-11e8-8960-7be43fe0cbd1.png)
![image](https://user-images.githubusercontent.com/4658927/37583296-d468791c-2b8b-11e8-97b7-4d2587a561a7.png)

[2018-03-19 17:58] jd987 opened #111 "&amp; causing code to not be styled"
`<SyntaxHighlighter language='jsx'>{x}</SyntaxHighlighter>`
generates
![amp](https://user-images.githubusercontent.com/2958623/37613004-dcccd2f4-2b74-11e8-91cc-bd069f8f70e9.PNG)

`<SyntaxHighlighter language='jsx'>{y}</SyntaxHighlighter>`
generates
![and](https://user-images.githubusercontent.com/2958623/37613014-e66b5f38-2b74-11e8-9fcf-01fdaf63a90d.PNG)

An ampersand anywhere in the file is causi

[2018-03-19 20:17] conorhastings commented on #110
i'll take a look as soon as i can but am currently moving so it may take a bit of time, if you could post the full code sample that would be super helpful.

[2018-03-19 20:18] conorhastings commented on #107
@ivgrin sorry for the late reply, currently in the processing of moving, thank you for the example, i will look as soon as i find the time

[2018-03-19 20:18] conorhastings commented on #111
@jd987 i'll take a look as soon as i can but am currently moving so it may take a bit of time, if you could post the full code sample that would be super helpful.

[2018-03-20 05:41] o02112 commented on #110
[code]

[code]

[2018-03-21 01:06] conorhastings commented on #110
this appears to be an upstream issue with highlightjs -- https://codepen.io/conorhastings/pen/PRpKEG -- i would suggest filing a bug there

[2018-03-21 01:06] #110 closed

[2018-03-21 01:07] conorhastings commented on #106
closing, feel free to reopen with reproducable case

[2018-03-21 01:07] #106 closed

[2018-03-21 15:05] jd987 commented on #111
`import React, { Component } from 'react';
import SyntaxHighlighter from 'react-syntax-highlighter/prism';

class SyntaxHighlightDemo extends Component {
  render() {
    const bad = '<Custom>This &amp; That</Custom>';
    const good = '<Custom>This and That</Custom>';
    return (
      <div>
        <SyntaxHighlighter language='jsx'>{bad}</SyntaxHighlighter>
        <SyntaxHighlighter language='

[2018-03-25 01:51] conorhastings commented on #111
I think this might be a jsx issue -- https://shripadk.github.io/react/docs/jsx-gotchas.html

[2018-03-26 02:43] jd987 commented on #111
@conorhastings
It may not render the HTML entity as you would expect (ie &gt; instead of >) but it is still valid.  This is causing none of the code to be styled.

[2018-03-26 13:10] conorhastings commented on #111
@jd987 I'll take a further look this week now that I'm gettng settled in after my move.

Thanks for the patience

[2018-03-30 01:28] burrack opened #113 "Got yarn errors after upgrading React version to 16.2.0"
Hi,

I got those error after upgrading react version from 15 to 16.2.0.
react-syntax-highlight#react@^15.3.0" doesn't satisfy found match of "react@16.2.0"
react-syntax-highlight#react-dom@^15.3.0" doesn't satisfy found match of "react-dom@16.2.0"

Thanks for the help!

[2018-04-01 04:10] wraytw opened #114 "PHP not highlighting syntax"
I am trying to get php code to highlight on my webpage, but the code is not being syntactically highlighted. Below is my entire react app:

[code]

That does not highlight the php code.

I'm using:
- React 16.2.0
- react-syntax-highlighter 7.0.2

Thanks

[2018-04-04 04:27] conorhastings commented on #114
thanks for providing the details,  I'll take a look this weekend, if you have a screenshot that would also be super helpful

[2018-04-04 04:29] conorhastings commented on #113
@burrack react-syntax-highlight is a different library with a peerDependency that is causing your error -- https://github.com/zlargon/react-highlight/blob/master/package.json#L33

This library allows anything greater than react 14 https://github.com/conorhastings/react-syntax-highlighter/blob/master/package.json#L39

[2018-04-04 04:29] #113 closed

[2018-04-04 05:01] wraytw commented on #114
I’ll do ya one better, here’s the site https://userapi.io/docs

And here’s the code https://github.com/wraytw/userapi.io-website/blob/master/src/shared/CodeBlock.js

[2018-04-17 23:44] shakiba opened #115 "Inner code option?"
Is there any options to only apply higlighting to inner `<code>` blocks inside the string, instead of entire string?

[2018-04-19 17:12] conorhastings commented on #115
not totally sure what you mean, can you explain more?

[2018-04-24 13:04] conorhastings commented on #115
i don't think that's something this library will support, it would be possible to build a library on top of this that does this but will unlikely be part of the core lib. Thanks!

[2018-04-24 13:04] #115 closed

[2018-04-24 13:04] conorhastings commented on #114
sorry for the late response, @wraytw I am looking into this, just busy with a new job

[2018-05-02 14:47] conorhastings commented on #114
it seems to be a problem with the php highlighting specifically, see small reproduction here -- https://codesandbox.io/s/kxzpnqv5l7 (look at src/index.js) any ideas @wooorm

[2018-05-02 15:08] wooorm commented on #114
It seems to be the order of things: https://github.com/wooorm/refractor/blob/0f04ee551b9030e275a9e3ee35c656f9750b36f3/index.js#L102-L103

Yes, you’re getting this live :p

[2018-05-02 15:35] wooorm commented on #114
I think I have it!

[2018-05-03 01:12] conorhastings commented on #114
fixed in `v7.0.4` @wraytw , thanks @wooorm !

[2018-05-03 01:12] #114 closed

[2018-05-12 05:30] conorhastings commented on #111
late response, but i don't an issue with syntax highlighting, going to close, sorry for the. long wait

https://codesandbox.io/s/o4myx0944y

[2018-05-12 05:35] conorhastings commented on #107
I'm not sure the expected result but from what you pasted, this looks fine to me?

https://codesandbox.io/s/2wxo057y0p

please reopen if i'm missing something

[2018-05-12 05:35] #107 closed

[2018-05-16 12:03] whitneymarkov opened #118 "Missing types (typeScript errors)"
`[ts]
Could not find a declaration file for module 'react-syntax-highlighter/styles/prism'. 'PATH/node_modules/react-syntax-highlighter/styles/prism/index.js' implicitly has an 'any' type.
  Try 'npm install @types/react-syntax-highlighter' if it exists or add a new declaration (.d.ts) file containing "declare module 'react-syntax-highlighter"'`

This error applies to the following:
`import Syntax

[2018-05-17 02:38] conorhastings commented on #118
This library has no support for typescript out of the box i believe definitely-typed has a type declaration so I would check there

[2018-05-17 02:38] #118 closed

[2018-05-17 08:51] eldyvoon opened #119 "some styles of Prism is missing"
Is this list updated? https://github.com/conorhastings/react-syntax-highlighter/blob/master/AVAILABLE_STYLES_PRISM.MD

Some values are not valid coz it's missing, eg. atomDark, duotoneDark etc.

[2018-06-07 05:55] zachwolf opened #120 "Feature request: add support for `className` property on wrapped lines"
Hello!

A co-worker pulled in this repo for a documentation site we maintain and it's working awesome 👍 thanks for your work!

Per the title, there's one gotcha that's making a feature difficult to build.

### The issue

I want to prefix bash lines with `$` using a pseudo `:before` element to prevent users copying it. In order to do so, I naturally need to use pseudo selectors. Since styles are ap

[2018-06-11 15:37] kevinSuttle opened #121 "Critical vulnerability found in macaddress package via highlight.js package"
https://nodesecurity.io/advisories/654

https://github.com/conorhastings/react-syntax-highlighter/blob/d761799ef25304864504d427dad92f0c2c1486cb/package.json#L8

https://www.npmjs.com/package/highlight

[2018-06-11 15:41] kevinSuttle commented on #121
Edit: false alarm. Sorry about that.

[2018-06-11 15:41] #121 closed

[2018-06-26 22:27] ibrahima opened #122 "Custom `renderer` seems to break multi-line syntax highlighting"
Hi!

I'm not sure if I'm doing something wrong, or if there's an issue with how custom renderers build up the DOM structure, but multi-line constructs (eg. multi-line comments) don't get syntax highlighted correctly when you use a custom renderer function. You can actually see the issue on the virtualized demo here:

http://conor.rodeo/react-syntax-highlighter/demo/virtualized.html

Notice that fo

[2018-06-26 22:40] ibrahima commented on #122
It seems like perhaps for the custom renderer case (with `wrapLines` enabled), you might need to keep track of any formatted contexts that the parser is currently inside, and wrap those around the line as otherwise rendered. I'm not sure whether that would deal with something like

[code]
though.

[2018-07-04 03:38] conorhastings commented on #122
hey sorry just saw this! i'm not totally sure what you mean by this -- , you might need to keep track of any formatted contexts -- could you give more of another example

[2018-07-04 03:51] conorhastings commented on #120
Hey, sorry for the late reply, just pulled/ran your demo and it looks to me like it's working?

<img width="1297" alt="screen shot 2018-07-03 at 8 48 50 pm" src="https://user-images.githubusercontent.com/8263298/42255837-aa3b3cf4-7f02-11e8-91ea-33a4e4bd7a8b.png">

Feel free to point out if i'm missing something.

Line elements don't use create element so the className should propagate -- https://g

[2018-07-04 04:20] conorhastings commented on #120
@zachwolf let me know what you think of this -- https://github.com/conorhastings/react-syntax-highlighter/pull/123/commits/962719d019786d33d40b1d7fe70c87609a5a2ac1 -- this will pass along all classNames that are not defined in the style object, works with your demo if i remove the green background which uses classes.line in style object

<img width="696" alt="screen shot 2018-07-03 at 9 20 07 pm"

[2018-07-04 04:43] ibrahima commented on #122
Oh no worries, I might just be making up terminology to try to express what I meant. I guess what I was suggesting was something like, if you start a comment block (or any other multi-line block), until it's finished you would wrap any following lines with the comment block tags until you find the end of the block. But the start and end of a block don't necessarily have to coincide with the start

[2018-07-06 05:23] #122 closed, assigned to nobody

[2018-07-06 07:13] ibrahima commented on #122
Wow, thanks, that was actually really fast! I actually think something might still be wrong, because now it seems like if you start a multi-line string, somehow everything in the entire file gets the string class.

Example that's fine (no multi-line strings)

[code]

![image](https://user-images.githubusercontent.com/47774/42364804-57268108-80b1-11e8-8b6c-920eb454b85b.png)

[code]

![image](https:

[2018-07-06 11:03] conorhastings commented on #122
can you post what the second sreenshot should look like, thanks.

[2018-07-06 22:36] ibrahima commented on #122
Both snippets should have the same coloring, (i.e. everything besides `STR = ...` should be the same). In the second one all the text has hljs-string applied to it for some reason (I've disabled inline styles because I use a different color scheme) but all the green text that's not inside a string should be black.

Thanks!

[2018-07-07 01:44] conorhastings commented on #122
any chance you could post your code?

[2018-07-11 14:57] zachwolf commented on #120
Perfect, that fixed my issue. Thank you!

[2018-07-21 01:08] lightninglu10 opened #125 "Prism not syntax highlighting"
Hey @conorhastings , great library and the hljs highlightings work, but none of the prism highlighting works.

[code]

I have that in my code and the result is this:

<img width="409" alt="screen shot 2018-07-20 at 6 06 31 pm" src="https://user-images.githubusercontent.com/2453737/43030635-cdb85548-8c47-11e8-856c-051cb24b2fc0.png">

Same issue with dark or any other prism style. Any idea what's up

[2018-07-21 01:13] conorhastings commented on #125
Hey @lightninglu10 any chance you could provide a full code sample with language and code string?

[2018-07-21 01:14] lightninglu10 commented on #125
Yeah, I'm setting language as one of these id's:

[code]

and codeString as one of these:

[code]

[2018-07-21 01:15] conorhastings commented on #125
thanks, i'll try to take a look this weekend

[2018-07-21 08:02] conorhastings commented on #125
@lightninglu10 if you want to use prism as the highlighting engine you need to import from `'react-syntax-highlighter/prism'`

see here -- https://codesandbox.io/s/ykp941906z

[2018-07-21 08:03] #125 closed

[2018-07-30 20:06] IvanToronto opened #127 "&nbsp; causes xml parser to fail"
Once you place &nbsp; anywhere in your code snippet, the whole highlighting stops working.

[2018-08-02 12:14] dextermb opened #128 "Does not highlight a brace after a quote for a prop"
Hey there! Awesome package. I noticed this in my discover weekly.

I ran a small test:
[code]

Which output:
<img width="293" alt="screen shot 2018-08-02 at 13 11 00" src="https://user-images.githubusercontent.com/6137789/43582865-b0d3f348-9655-11e8-9f5d-e67b39806116.png">

As you can see the `}` after `"` (same with `'`) does not seem to be highlighted correctly.

Any ideas for a solution?

[2018-08-05 05:54] conorhastings commented on #128
can you post full code sample including use of SyntaxHighlighter

[2018-08-05 05:54] conorhastings commented on #127
can you post full code sample including use of SyntaxHighlighter

[2018-08-06 06:19] lioneltay opened #130 "Typescript + React support?"
I was just wondering if its possible to get syntax highlighting for typescript and react together? Like in .tsx files.

I notice you can get typescript highlighting without react and that javascript highlighting automatically includes react.

Really enjoying the component!

[2018-08-06 06:25] conorhastings commented on #130
if you use the prism version

[code]
than tsx is a supported language.

Hope this helps! Thanks for using!

[2018-08-06 06:25] #130 closed

[2018-08-06 07:15] dextermb commented on #128
@conorhastings this was just on your demo page. Added the test code to the bottom of it

[2018-08-06 13:48] conorhastings commented on #128
@dextermb react code will only render properly with prism, see -- http://conor.rodeo/react-syntax-highlighter/demo/prism

[2018-08-06 13:49] #128 closed

[2018-08-07 15:28] IvanToronto commented on #127
<html>
<body>
some text &nbsp; another text
</body>
</html>

and the use is:
        <SyntaxHighlighter language='xml' wrapLines={true} style={vs} showLineNumbers={this.props.lineNumbers}>{this.props.code}
        </SyntaxHighlighter>

[2018-08-08 03:04] conorhastings commented on #127
it looks fine to me -- https://codesandbox.io/s/zzq2jy1w3x -- can you tell me what the issue is there?

[2018-08-08 03:11] IvanToronto commented on #127
The issue appears when I use slightly different imports at the top of the file
`import SyntaxHighlighter from 'react-syntax-highlighter/prism';
import { vs } from 'react-syntax-highlighter/styles/prism';`

With this configuration, try to add and remove & character and you will see that it affect the entire code highlighting

[2018-08-08 03:29] IvanToronto commented on #127
Is there any way to achieve that selected color scheme, using hljs or I need to select only whatever is available in that color set?

[2018-08-08 03:31] conorhastings commented on #127
you can write your own style object or use what's available from hljs, the styles don't translate between each other

[2018-08-08 03:31] IvanToronto commented on #127
Ok, thanks

[2018-08-08 14:10] wooorm commented on #127
What version of refractor is used? I updated it recently to fix entities in [2.5.0](https://github.com/wooorm/refractor/releases).

<details>
<summary>
And for me it works
</summary>

[code]

Works:

[code]

</details>

However, in the resulting tree you’ll not that `&nbsp;` is a child of the text node. That value is supposed to be visible in document, and not rendering as an actual no-break space

[2018-08-12 15:04] harvey56 opened #131 "Expected `string` for value, got `[object Object]`"
Hi,

I'd like to highlight code rendered by another component in the SyntaxHighlighter. The SyntaxHighlighter however seems to only take a String.

Passing my component as a child returns the error as in the title :
[code]
Any suggestion how I can achieve this ?

[2018-08-12 17:09] conorhastings commented on #131
I'd need to see the contents of my component, either way I don't think this will work as syntax highlighter only works with string children, if <MyComponent /> is a function that returns a string you can call it as {MyComponent()} otherwise you will need to find another way to generate the string you desire

[2018-08-12 17:09] #131 closed

[2018-08-14 11:12] Kobzol commented on #78
@stereokai webpack-bundle-analyzer

[2018-08-14 11:14] stereokai commented on #78
Cheers!

[2018-08-20 17:40] cfchase opened #132 "Copy to clipboard button (feature request)"
It would be nice if this component supported a button that copied code to the clipboard similar to [prism's plugin](https://prismjs.com/plugins/copy-to-clipboard/).  This could be pretty straightforward and use [react-copy-to-clipboard](https://www.npmjs.com/package/react-copy-to-clipboard).  We could show it on the component by adding a prop such as `showCopyButton={true}` or similar.

Seems like

[2018-09-05 20:25] kbirger opened #134 "Line wrapping support"
It would be nice to have line wrapping support here. I'm not sure if it's easily achievable by mixing and matching styles applied to lines.

[2018-09-12 07:29] conorhastings commented on #132
@cfchase I think it's probably out of scope to doing something that specific but a plugin architecture where you could add things to some parts of the children is an interesting ideas, do you have any ideas there?

[2018-09-12 07:30] conorhastings commented on #134
I don't have the time to do this, but will leave open if someone else wants to tackle

[2018-10-08 03:50] conorhastings opened #136 "Support async loading with highlightjs ast generator"
see this pr for guidance -- https://github.com/conorhastings/react-syntax-highlighter/pull/135

[2018-10-08 05:15] marcodejongh commented on #132
A long long time ago I created a code macro that had a copy button I just used CSS to get it "inside" the block:

[code]

CopyButton:

[code]

I don't think it would be a good feature to add to the syntax-highlighter itself. As it's "react-syntax-highlighter" not "react-code-block".

[2018-10-08 12:27] conorhastings opened #140 "update async documentation to mention availability for all versions"

[2018-10-08 12:34] marcodejongh commented on #140
Except the lowlight one is broken 🤦‍♂️  but will fix it soon

[2018-10-17 02:43] tcollins opened #142 "Using hljs XML language the body contents of script tags are removed"
First.. Thank you for working on this very nice library. It makes syntax highlighting in React a breeze.

The problem I'm having is with rendering the contents of a script tag using the "xml" hljs language.

I have a simple example that shows the problem.
https://codesandbox.io/s/r41q6r5m2m

If the tag is < scrip > (the "t" is missing on purpose) the contents are displayed.

If the tag is < script

[2018-10-17 02:58] tcollins commented on #142
So.. right after posting this I decide to take a close look at the hljs xml language file..

https://github.com/highlightjs/highlight.js/blob/master/src/languages/xml.js

.. And I noticed this..

[code]

This made me wonder if I needed the javascript language also and sure enough, that was the problem.

[code]

You can see it working here...  https://codesandbox.io/s/x3ypyq7kmp

Sorry for false al

[2018-10-17 02:58] #142 closed

[2018-10-19 09:31] TheRav3n opened #143 "Disabling horizontal scrollbars"
Is there any way we could disable horizontal scrollbars and use auto carriage return on lines, without incrementing the line numbers count?

[2018-10-23 02:52] conorhastings commented on #132
Agree with @marcodejongh , closing for now but if anyone has plugin proposal that would make tihs easier to do in userspace please feel free to share.

[2018-10-23 02:52] #132 closed

[2018-10-24 23:12] mdrichardson opened #147 "Support for js arrow functions?"
**Describe the bug**
When using javascript arrow functions, the certain bits of code aren't detected/classified and therefore can't be styled.

**To Reproduce**
Steps to reproduce the behavior:
Try:
[code]

Called with:

[code]

**Expected behavior**
I would expect the following parts to be individually wrapped:

* const
* doFirst
* ( and )
* callback
* doStuff()

However, it misses most. See scre

[2018-10-31 02:17] marcodejongh opened #148 "Add prettier"
Formatting code is not fun, we should add prettier.
What config? I think default but single quotes instead of double.

[2018-10-31 21:21] vorillaz opened #149 "The prism classes concatenated with ",""
**Describe the bug**
The output classes using Prism are concatenated with commas.

**To Reproduce**
[code]

**Expected behavior**
Get descriptive tokenize classes from the output React components.

**Screenshots**
<img width="849" alt="screen shot 2018-10-31 at 11 15 59 pm" src="https://user-images.githubusercontent.com/1022166/47819595-a1bfc300-dd63-11e8-8c04-bfb0632fdfa1.png">

**Desktop (please

[2018-11-01 01:31] marcodejongh commented on #149
Hmm interesting, it doesn't seem to affect the rendering.
Looks like a issue with refractor to me, maybe create it there? https://github.com/wooorm/refractor

[2018-11-02 13:28] AlmeroSteyn opened #150 "Bundle size increase"
I actually do not know if it is a bug yet but want to make sure.

I upgraded today from version `8.0.1` to `10.0.0`. My app bundle size instantly went from 77KB gzipped to 380KB gzipped. That happened by upgrading the packages and fixing the imports.

I also tested a bare install of `react-syntaxc-highlighter` with `create-react-app`. `8.0.1` and `9.0.1` gives small payloads while `10.0.0` instant

[2018-11-02 15:10] conorhastings commented on #150
I'll give this a look when i get a chance // yeah documentation needs an upgrade,

@marcodejongh could you also give this a look if you get a chance?

[2018-11-05 07:38] AlmeroSteyn commented on #150
Thank you for checking this out!

[2018-11-06 06:53] marcodejongh commented on #150
@AlmeroSteyn What version of webpack are you using?

Could you manually edit the package.json of react-syntax-highlighter in your node_modules and add the following:
[code]
It might be that there's a [side-effect](https://github.com/webpack/webpack/tree/master/examples/side-effects) in the module that's breaking tree shaking

[2018-11-06 06:57] marcodejongh commented on #150
@conorhastings I'll get on top of fixing tree shaking. We should also make a decision on what API's we wanna support moving forward, imo we probably should only support the "dynamic importing version" and the "everything included version". So Prism & PrismAsyncLight, Light & LightAsync

[2018-11-06 07:54] AlmeroSteyn commented on #150
@marcodejongh I tested it in an app bootstrapped with `create-react-app` v2. The exact webpack version is `4.19.1`.

Setting `sideEffects` to false indeed does take away the bloat! `301.82KB` difference between a build with this in `package.json` versus the version as installed from `npm`.

[2018-11-06 22:58] VladimirPittner opened #151 "Path to styles"
**Describe the bug**
It seems that the path to the styles now is `react-syntax-highlighter/dist/styles/prism`, not the one that is in the example `react-syntax-highlighter/styles/prism`.
Or did I do something wrong? :smile:

**Version**
`"react-syntax-highlighter": "10.0.0",`

[2018-11-07 23:15] marcodejongh commented on #151
Thanks @VladimirPittner , I've updated the readme and the changelog's.

[2018-11-07 23:15] #151 closed

[2018-11-09 12:38] ovac opened #153 "File not found in the 10.0.0 version"
**Describe the bug**
I get a file not found when I uninstall and the last version `9.*` and install the lastest version `10.0.0`

Error: ENOENT: no such file or directory, open '***/node_modules/react-syntax-highlighter/prism-light.js'

[2018-11-09 21:41] #150 closed

[2018-11-11 00:57] pzenger commented on #153
I'm running into the same issue, and I followed all of the docs.
Can this issue be re-opened @conorhastings ?

The docs need to be updated

[2018-11-11 01:01] conorhastings commented on #153
@pzenger can you make a new issue pointing out incorrectness in docs

also feel free to open a PR if you see something, I don't have as much time as I used to to spend on this project so contributions are appreciated @marcodejongh has been doing a great job but all are welcome to open prs.

[2018-11-19 23:17] marcodejongh opened #156 "CircleCI write rights for me"
@conorhastings could you give me write rights on circleCI so I can rerun builds?
The failure on: https://github.com/conorhastings/react-syntax-highlighter/pull/155 looks like a npm problem but I can't rerun it.

[code]

[2018-11-20 04:00] marcodejongh commented on #156
Actually probably not needed anymore

[2018-11-20 04:00] #156 closed

[2018-11-20 22:43] chasm opened #161 "How to highlight a diff"
**Is your feature request related to a problem? Please describe.**
I use this to teach. I need lines added/removed to be as clear as possible.

**Describe the solution you'd like**
I want to be able to include lines that are removed and lines that are added, where the removed lines are highlighted in red with a - to the left, and the added lines in green with a + to the left.

**Describe alternati

[2018-11-20 23:41] marcodejongh commented on #161
You probably mean well, but this line comes across as-if you don't have time to implement a diff so instead you're trying to have some open source maintainer do it for you for free.

I don't have time to implement this feature either. But I'd happily discuss this feature with you to come up with a plan. First off I'm not entirely convinced it belongs in this module, but if it can be done elegantly

[2018-11-21 00:11] chasm commented on #161
It's a feature suggestion. If there is no interest from others, then I certainly don't expect you to make the effort. But I'd be surprised if this wasn't something very useful to people. After all, tutorials are a common use of syntax highlighting.

If no one else wants to tackle it, then I'll either do it (happy to do a pull request if it works), or will give up on it and do without.

[2018-11-21 02:57] conorhastings commented on #161
@chasm this demo needs to be updated to current api, but gives a decent idea of userland implementation -- https://github.com/conorhastings/react-syntax-highlighter/blob/master/demo/diff.js

[2018-11-24 04:54] conorhastings commented on #161
closing as there is no action to be taken here, you can use the above example + attach a css class to line and add the + - in css

[2018-11-24 04:54] #161 closed

[2018-12-27 09:59] nandu-oooooooooooo opened #164 "Syntax highlighter not working in my mobile"
****
Hello Everyone,
I have use react-syntax-highlighter in my react native project. Its was working of my virtual device successful using ('Nexus_6_API_27(AVD) - 8.1.0').
But when I used in real device (Redmi 4) so that are not work.
**See virtual device screenshot**

![virtual-device](https://user-images.githubusercontent.com/46188768/50474435-bee4cc80-0975-11e9-86fc-7a5ca10accfb.png)

**See scr

[2018-12-27 18:06] conorhastings commented on #164
please make issue in react-native-syntax-highlighter

[2018-12-27 18:06] #164 closed

[2018-12-30 21:54] conorhastings commented on #143
@Sadkit sorry for the long time for response, I don't have the cycles for this but would be happy to offer advice or help sketch out an implementation plan

[2019-01-03 06:49] yanwii opened #165 "How could i highlight the <code> in html string;"
i have a string like `<h1> hello word </h1>  <code>print("hello word!")</code>`
how could i highlight the string in tag code using react ?

[2019-01-11 02:31] davidcalhoun opened #166 "Breaking change in patch version (10.1.1 -> 10.1.2): missing hljs language and styles imports in 10.1.2"
**Describe the bug**
These imports (and possibly more) cannot be resolved in `10.1.2`:

[code]

Workaround: force downgrade to `10.1.1`

**To Reproduce**
Steps to reproduce the behavior:
1. View the error online here: https://codesandbox.io/s/6yjrw4y8z
2. Now click on `package.json` and change `10.1.2` to `10.1.1`, then observe the lack of an error.

[2019-01-11 03:49] marcodejongh commented on #166
it's mentioned in the [changelog](https://github.com/conorhastings/react-syntax-highlighter/blob/master/CHANGELOG.MD#changed-1) that those references should be updated to:

[code]

[2019-01-11 04:52] davidcalhoun commented on #166
Thanks for the heads up, I'll update it.

From a consumer perspective, this is super surprising because it's a breaking change, which should be on a major version if this follows semver (e.g. `11.0.0`), so I could only update to the major version and expect to have to update the code.  It makes me hesitant to use this if a breaking change happens randomly on a patch version, when I don't expect to

[2019-01-11 11:18] dmtrKovalenko opened #167 "Improve build system"
**Is your feature request related to a problem? Please describe.**
You have a lot of big files, that are exported and do not add a way to easily import them. All files exists in the `/dist/` but docs say to import them directly.

**Describe the solution you'd like**
1. Publish only bundled folder as we are doing in [material-ui-pickers](https://github.com/dmtrKovalenko/material-ui-pickers/tree/dev

[2019-01-12 16:43] conorhastings commented on #167
Would appreciate any help you could offer!

[2019-01-13 09:24] ReactGirl opened #169 "Isn't this library too heavy? Is there any other lightweight alternative?"
This library uses the highlight.js as other dependencies witch I believe it's turn out a very heavy library.

      react-syntax-highlighter@^10.1.2:
      version "10.1.2"
      dependencies:
      highlight.js "~9.12.0"
      lowlight "~1.9.1"
      prismjs "^1.8.4"

Using [Source map explorer Analyzer](https://www.npmjs.com/package/source-map-explorer)  demonstrates that it's add 674kb to the b

[2019-01-13 23:36] conorhastings commented on #167
@marcodejongh can you take a look at this if you get a chance, I know you did a lot of the more recent buiid stuff

Thanks for the PR

[2019-01-13 23:37] conorhastings commented on #166
Apologies, will be more careful in the future, there is not much we can do so i'm going to close but will be more cognizant in the future about things like this, thanks for the heads up

[2019-01-13 23:37] #166 closed

[2019-01-13 23:37] conorhastings commented on #165
This seems better for something like stack overflow

[2019-01-13 23:37] #165 closed

[2019-01-13 23:38] conorhastings commented on #169
could you share a code snippet, you can likely optimize the build output as i see you're including all of styles.

[2019-01-13 23:46] conorhastings commented on #143
Right now since the numbers exists within the pre block if line numbers are on it would be possible with just css, could likely be achieved with more powerful lineProps

[2019-01-13 23:46] conorhastings commented on #134
goingt o close in favor of https://github.com/conorhastings/react-syntax-highlighter/issues/143

[2019-01-13 23:46] #134 closed

[2019-01-13 23:46] #119 closed

[2019-01-14 09:34] dmtrKovalenko commented on #169
@ReactGirl source-map explorer not really best way to get the bundle size.

First of all by default this lib doesn't build all languages and styles in the bundle. You must make lazy import for them. Check my own bundle analyzer for created bundle.
![image](https://user-images.githubusercontent.com/16926049/51104942-3f1d8580-17f0-11e9-84df-40e8942908ac.png)

[2019-01-14 15:47] ReactGirl commented on #169
Yes, I think the probably is with the highlight importing all languages and stuff.
Anyway, I found this library as an alternative with much fewer dependencies and works out of the box

[https://github.com/rahulbhooteshwar/snippet-highlight](https://github.com/rahulbhooteshwar/snippet-highlight)

[2019-01-14 21:02] conorhastings commented on #169
@ReactGirl depending on your needs you likely would want to use the light version, that library works and if it fits your needs that's great

This library aims to provide more functionality and styling options via js objects from prism or hljs

It could also be your build setup not respecting esm

[2019-01-15 22:58] marcodejongh commented on #167
@conorhastings sure will do

[2019-01-16 07:47] #169 closed

[2019-01-16 10:52] soEricNG opened #170 "Logging scroll events"
I'm using this component for a code review tool that I have developed. I would love to send logs every time the user scroll on the this component to see how much of the code the user is reading. However, I can't figure out a way to do it. Basically, I would like to call a backend API for the onScroll event. What can I do?

Thank you!

p.s.  I absolutely love this component. This is more of a help

[2019-01-16 23:50] marcodejongh commented on #170
I'd recommend asking this question on stackoverflow, the solution most likely doesn't involve anything done to react-syntax-highlighter (assuming it's the window that's overflowing not the highlighter).
In which case you probably want a onscroll event on window and determine what's in view in that event. Either way: Stackoverflow 😄

[2019-01-16 23:50] #170 closed

[2019-01-18 08:56] kushalmahajan opened #171 "TSX files of storybook"
First of all below line doesn't works referencing the #https://github.com/conorhastings/react-syntax-highlighter/issues/130issue

However, according to your README, I tried using

[code]
Later in my Button.stories.tsx file ( Storybook )

[code]

It displays the theme background but not the syntax highlighting. I tried two of these styles from prism Any help?

Screenshot available [here](https://dr

[2019-01-18 19:37] davidyeiser opened #172 "SyntaxHighlighter.registerLanguage throws undefined error"
Using the Light build, trying to set specific languages with `SyntaxHighlighter.registerLanguage()` throws undefined error (pasted at the end).

**To Reproduce**
1. v.10.1.2 of react-syntax-highlighter

2. Code:

[code]

**Desktop:**
- MacOS Mojave 10.14.1
- Chrome Version 71.0.3578.98 (Official Build) (64-bit)

**Additional context**

If I log `css` I can see it in console fine. It's when I call

[2019-01-20 18:10] conorhastings commented on #171
@kushalmahajan in reference to issue 130, that answer was correct at that time, the library has undergone major versions since then, meaning that all examples in previous issues won't work.

As to your question about not highlighting, that is due to javascript being setting as the language, while your codeblock is jsx, jsx is not valid javascript, you need to use jsx or tsx as the language to prop

[2019-01-20 18:10] #171 closed

[2019-01-20 19:17] kushalmahajan commented on #171
Yes it does. Earlier I was trying with jsx or tsx to switch and see. At that time I wasn't using prism  which I learnt later while exploring to use for jsx/tsx files. Sorry for the hassle!

[2019-01-24 08:39] sendmenas commented on #169
@ReactGirl I had the same issue. After doing some research I found the way how to import only a light build. Using "import { Light as SyntaxHighlighter } from "react-syntax-highlighter";" didn't worked as expected, but this did the trick:

[code]

[2019-01-24 17:24] kbrock84 opened #173 "404 error on Demo"
**Describe the bug**
http://conor.rodeo/react-syntax-highlighter/demo/prism-async-light.html throws error

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Go to http://conor.rodeo/react-syntax-highlighter/demo/
2. Click on <code>Prism async light</code>
3. See blank page.
4. Open dev tools
4. See error 404

**Expected behavior**
Expect to see demo. Instead get a blank page.

**Desktop

[2019-01-27 06:40] kbrock84 commented on #173
Looks good now. Thanks.

[2019-01-29 18:31] davidyeiser commented on #172
A couple updates on this…

1. There's an error with the `style` import:

[code]

Should be:
[code]

The first only gets you to the prism directory, the second actually imports the `prism.js` file.

2. That said, you still get errors. What fixed it for me was changing the import from:
[code]

To:
[code]

[2019-02-05 04:00] conorhastings commented on #172
@Auroratide there could have been some misses in the 10.0 pr that i missed, if you see an error in documentation please submit a PR

[2019-02-11 04:25] FallingSnow opened #174 "Reference to babel-runtime in dist"
**Describe the bug**
`node_modules/react-syntax-highlighter/dist/create-element.js` in `react-syntax-highlighter@10.1.2` requires `babel-runtime` rather than `@babel/runtime`.

Resulting in
[code]

**Desktop (please complete the following information):**
 - OS: Linux laptop 4.20.3-arch1-1-ARCH #1 SMP PREEMPT Wed Jan 16 22:38:58 UTC 2019 x86_64 GNU/Linux
 - Browser: N/A
 - Version 10.1.2

[2019-02-16 19:40] conorhastings commented on #174
please use dist/esm and or dist/cjs , will clean up remaining artificts in a major version bump

[2019-02-16 19:40] #174 closed

[2019-03-03 04:29] LuisReinoso commented on #119
Hi!. In your source code have a lot styles for prims but on production only have this.
![imagen](https://user-images.githubusercontent.com/7484215/53690978-e758c080-3d42-11e9-808c-498763b9d741.png)

[2019-03-03 22:11] conorhastings commented on #119
@LuisReinoso that looks like the tree for prism-react-renderer, a different package

[2019-03-07 14:11] Superpencil opened #175 "new hljs themes"
hljs 9.13.0 has introduced a bunch of new themes that are lovely, and I'd love to see them in react-syntax-highlighter 🙇🏻‍♂️

[2019-03-10 17:53] conorhastings commented on #175
updated and added in `v10.2.0`

thanks!

[2019-03-10 17:53] #175 closed

[2019-03-11 01:02] Superpencil commented on #175
Thanks Conor!

On Mon, Mar 11, 2019 at 2:53 AM Conor Hastings <notifications@github.com>
wrote:

[2019-03-12 15:41] Superpencil commented on #175
@conorhastings the styles in the new update seem to be in `/esm/styles/**.js` and `/cjs/styles/**.js` while `/dist/styles/**.js` has not been updated, is that intentional or a bug? 😅

[2019-03-12 15:55] conorhastings commented on #175
@Superpencil this is intentional, was a breaking change in v10, old files on my computer are still being published, will publish a new version without dist/styles later tonight, thanks

[2019-03-12 16:06] Superpencil commented on #175
@conorhastings Alrighty then!

[2019-03-21 09:06] #149 closed

[2019-03-21 09:23] smirnowld opened #178 "Demo site is timing out"
The [demo site](http://conor.rodeo/redux-test-recorder/demo/) doesn't seem to load due to timeouts.

[2019-03-21 09:29] conorhastings commented on #178
looks like i had let my domain expire 😱 , thanks for the heads up, should be back up soon

[2019-03-21 09:29] #178 closed

[2019-03-25 08:42] DavidSichau commented on #169
@sendmenas This stopped working for me in version 10.2.1. Does this apply also for you?

[2019-03-25 21:29] Colman opened #179 "Usage of useInlineStyles"
How can I append my own className to the SyntaxHighlighter element? Not one from highlight.js or prism but a css class from my own project. I tried setting useInlineStyles={false} and customStyle="my-css-class" but nothing happened.

[2019-03-26 18:50] conorhastings commented on #179
@Colman customStyle would be a style object not a classname, to pass in a className you should be able to do it directly.

[2019-03-27 13:27] sendmenas commented on #169
@DavidSichau not working on the project that used that lib anymore, so I don't know :/

[2019-04-02 19:51] egges opened #180 "Runtime error (missing node module) when using ParcelJS"
My project is using Parcel as a build tool. I created a file index.tsx containing the following:

[code]
I am able to build this with Parcel (v1.12.3), but when I open the page in the browser, I get the following runtime error:

Uncaught (in promise) Error: Cannot find module '../../node_modules/refractor/lang/markup.js'
    at newRequire (syntaxtest.f69400ca.js:37)
    at newRequire (core.c556c4e

[2019-04-03 04:01] conorhastings commented on #180
is  there anyway you can set up a reproducable example on something like codesandbox

[2019-04-04 09:39] egges commented on #180
Sure. I created a simple project that uses Parcel, see here:

https://www.dropbox.com/s/xfoz11m7qsu8irh/react-syntax-highlighter-test.zip?dl=0

In order to run this, unzip the file, run npm install && npm start and then open the browser on http://localhost:1234. You should see the error then.

[2019-04-04 19:13] conorhastings commented on #180
thanks, i'll take a look tonight (west coast US)

[2019-04-04 19:32] sebastianwachter commented on #180
getting the same error

[2019-04-09 17:58] conorhastings commented on #179
closing, can reopen if question persists

[2019-04-09 17:58] #179 closed

[2019-04-19 22:02] Hydrock commented on #9
I trying **language='javascript|html'**
Its work for me - sometimes

[2019-04-25 10:31] TimVanMourik opened #182 "Webpack upgrade yields loader error"
**Describe the bug**
I'm a happy user of `react-syntax-highlighter` and would like to report an issue that I encountered. I recently run an `npm update` in my react app in which the `webpack` dependency was upgraded from `4.28.0` to `4.30.0`. This caused a compilation error that traces back to `react-syntax-highlighter`:

[code]
**To Reproduce**
In a React app with `react-syntax-highlighter` and `

[2019-04-25 21:10] conorhastings commented on #182
I found this issue that might help -- https://github.com/webpack/webpack/issues/8656 -- only had a chance to peruse quickly though, can give a more in depth look later

[2019-05-01 10:18] TimVanMourik commented on #182
Thanks for the prompt response. I had found that solution (`npm update acorn --depth 20`) and followed the solution, but it did not resolve the problem. Hence my suspicion it the bug was in this repo, as it was the only one in my dependencies that was acting up.

On closer inspection though, the reason seems to be issues for npm@5 described in  https://github.com/npm/npm/issues/19045 and https://g

[2019-05-01 10:18] #182 closed

[2019-05-20 14:48] karlhorky opened #184 "Add VS Code Style"
First of all, thanks for this project! Great to see more tools for highlighting in the React ecosystem.

**Is your feature request related to a problem? Please describe.**

It would be nice to be able to highlight code in the default style of VS Code (dark theme). Similar to that in `prism-react-renderer` (eg. FormidableLabs/prism-react-renderer#28).

**Describe the solution you'd like**

A style

[2019-05-22 07:37] conorhastings commented on #184
added in 10.3.0 , will work on adding similar function to automate process in the future

[2019-05-22 07:37] #184 closed

[2019-05-22 08:22] karlhorky commented on #184
Oh wow, that was quick! Thanks!

[2019-05-22 08:48] karlhorky opened #186 "Fix demo link on repo"
Hey, quick fix:

Link on Repo (redirects to [your homepage](https://conorhastings.github.io/)):
http://conor.rodeo/react-syntax-highlighter/demo/

Correct link:
https://conorhastings.github.io/react-syntax-highlighter/demo/

Would do a PR, but GitHub doesn't allow this yet.

[2019-06-12 20:09] tschellenbach opened #190 "Async Highlight: Super expression must either be null or a function"
- inherits.js:5 Uncaught TypeError: Super expression must either be null or a function
    at _inherits (inherits.js:5)
    at eval (async-syntax-highlighter.js:44)
    at eval (async-syntax-highlighter.js:168)
    at eval (light-async.js:6)

Happens when importing like this while running webpack in development mode:

[code]

Build stack: webpack: 4.33,.0, babel 7.4.5
Command: webpack --mode devel

[2019-06-13 19:23] conorhastings commented on #190
is that the only code in the file ?

[2019-06-19 23:19] jclangst opened #191 "Autogrenerated Language Imports"
**Is your feature request related to a problem? Please describe.**
It looks like the current language bindings to the upstream libraries like refractor are manually generated. As a result, this library is missing some recent additions to those upstream libs.

**Describe the solution you'd like**
Instead of manually generating them, since the imports/bindings are so generic, we could have a pre-pub

[2019-06-20 01:26] conorhastings commented on #191
there generated automatically on publish if you look at the build language scripts, possibly just delayed publishing or versioning? Unless I'm misunderstanding you, please feel free to correct

[2019-06-20 12:09] jclangst commented on #191
Ah. I see that you have pretty much exactly what I was suggesting. I was confused by the language files being included in git. My bad.

[2019-06-20 12:09] #191 closed

[2019-06-27 10:22] Yago opened #192 "Remove “[] "conor"” console.log in build"
**Describe the bug**
In the latest NPM builds, there is a remaining `[] "conor"` `console.log`. The weird thing is that it's not in the [code](https://github.com/conorhastings/react-syntax-highlighter/blob/master/src/highlight.js#L88), only in the published [builds](https://cdn.jsdelivr.net/npm/react-syntax-highlighter@10.3.0/dist/highlight.js)

**To Reproduce**
Steps to reproduce the behavior:
1.

[2019-06-28 01:25] ryanthemanuel opened #193 "Breaking change in patch version 10.3.2 to 10.3.3"
**Describe the bug**
The following used to work (in 10.3.2):

[code]

Now I'm getting (in 10.3.3):
[code]

[2019-06-28 04:13] conorhastings commented on #193
let me republish 10.3.2 sa 10.3.4 (those were cruft files and publish 11 as a new maor sorry about that)

[2019-06-28 04:41] conorhastings commented on #193
@ryanthemanuel sorry about this, can you try 10.3.5

[2019-06-28 11:55] ryanthemanuel commented on #193
That worked. Thanks!

[2019-06-28 14:01] emilyrohrbough commented on #193
Thank you!

[2019-06-28 16:24] conorhastings commented on #193
great to hear, sorry for the thrash

[2019-06-28 16:24] #193 closed

[2019-06-30 10:54] pranaypratyush opened #194 "Cannot find module '../node_modules/refractor/lang/markup.js'"
**Describe the bug**
Cannot find module '../node_modules/refractor/lang/markup.js'

[code]

[2019-06-30 18:55] conorhastings commented on #194
can u provide sample code, module version, etc...a

[2019-07-01 07:07] #192 closed

[2019-07-01 11:59] Adam-Collier opened #196 "No Syntax highlighting when built"
**Describe the bug**
Currently when I am working in my dev environment and the syntax highlighting is working as expected, however when I build the app there is no syntax highlighting and it just renders the string that was passed in (using CRA btw)

**To Reproduce**
The repo can be found here:
https://github.com/Adam-Collier/rownan-react/tree/build_app

you can try it in dev `npm run dev`

and bu

[2019-07-01 15:31] Adam-Collier commented on #196
So to build on this I have tried switching it from hljs to prism and that highlights it fine

[2019-07-08 07:11] BinghuiXie opened #197 "why only the first line hightlighted?"
Heres my code:
![image](https://user-images.githubusercontent.com/34343589/60789798-89c1fe00-a192-11e9-8930-6f36bac8f716.png)
and here is the hightlighted code:

![image](https://user-images.githubusercontent.com/34343589/60789854-aa8a5380-a192-11e9-9a14-5a117a88bd76.png)
troubles me a lot

[2019-07-08 14:30] conorhastings commented on #197
can you paste the text, it will likely be easier to debug

[2019-07-09 09:41] zamotany commented on #180
I was having the same issue when importing `prism`:
[code]
and I found that importing `prism` directly from `dist/esm` seems to do the trick:
[code]

For `highlight.js` this could work:
[code]

[2019-07-15 05:13] conorhastings commented on #197
please reopen if question above addressed, thanks.

[2019-07-15 05:13] #197 closed

[2019-07-15 05:14] conorhastings commented on #196
since it works in the dev environment i am guessing it is webpack config there, please ask on stackoverflow or in the CRA issues

[2019-07-15 05:14] #196 closed

[2019-07-15 05:15] conorhastings commented on #194
please reoopen if above addressed

[2019-07-15 05:15] #194 closed

[2019-07-15 05:15] conorhastings commented on #190
please reoopen if above addressed

[2019-07-15 05:15] #190 closed

[2019-07-15 05:16] conorhastings commented on #186
this has been addressed, thank you.

[2019-07-15 05:16] #186 closed

[2019-07-15 05:17] conorhastings commented on #180
this seems like an issue with how parcel is ressolving the import, could you bounce it over there and comment here if something here is being done wrong, thanks

[2019-07-15 05:17] #143 closed

[2019-07-15 05:18] #127 closed

[2019-07-15 06:09] karlhorky commented on #186
Hm, still doesn't work for me. To be clear, I mean the link next to the description of the repo:

![Screenshot_20190715-080735](https://user-images.githubusercontent.com/1935696/61197960-c54f5180-a6d7-11e9-84d0-ea54958036eb.png)

[2019-07-15 06:16] conorhastings commented on #186
misunderstood should work now

[2019-07-15 07:33] karlhorky commented on #186
Cheers, works!

[2019-07-20 17:06] catamphetamine opened #199 "How to prevent styles on `<pre/>`?"
It seems to add the following styles on `<pre/>`:

[code]

My workaround is:

[code]

Is there a better way?

[2019-07-20 17:15] catamphetamine commented on #199
Ok, I see, it's the `docco` style (or the default one) it seems.
Passing `dark` style changes it.

[2019-07-20 17:15] #199 closed

[2019-07-20 20:08] catamphetamine opened #200 "<pre class="hljs"/> when using Prism"
Here's the markup for `LightAsync`:

![image](https://user-images.githubusercontent.com/477167/61583616-11b8e800-ab43-11e9-8cea-0392bce4ac3a.png)

Here's the markup for `PrismAsyncLight`:

![image](https://user-images.githubusercontent.com/477167/61583621-31501080-ab43-11e9-9bb0-f9d86f8cbcb8.png)

For some reason, Prism markup has `hljs` class.

Also, `<code/>` is missing `class="language-..."` an

[2019-07-20 20:11] catamphetamine commented on #200
The code used:

[code]

Also notice how `className` doesn't work too (doesn't set `class` on `pre`).

[2019-07-20 20:15] catamphetamine commented on #200
My workaround is:

[code]

[2019-07-20 20:22] catamphetamine opened #201 "How to output `<code/>` instead of `<pre/>`?"
This library seems to always output `<pre/>` as a result.
What about `<code/>`?
`<pre/>` is block-level, `<code/>` is inline-level.

[2019-07-21 09:01] conorhastings commented on #201
you can alter the Pre with the PreTag prop

[2019-07-21 09:01] #201 closed

[2019-07-21 10:08] catamphetamine commented on #201
So are you saying that `PreTag` should be a `'span'` in order to render `<span><code>...</code></span>`?

[2019-07-22 00:40] conorhastings commented on #201
yes if you wanted it all inlinee

[2019-07-22 03:04] conorhastings commented on #199
@catamphetamine not sure i understand your comment but glad issue is resolved

[2019-07-22 03:08] catamphetamine commented on #199
@conorhastings Yeah, it turned out that "themes" apply non-color styling to `<pre/>` for some reason.
I could see how someone would change `text-shadow` or `background-color` or `font-weight` but why on earth do they change `margin` and stuff...
https://unpkg.com/react-syntax-highlighter@11.0.2/dist/esm/styles/prism/atom-dark.js

[code]

Anyway, I've moved from inline styles to CSS and copied the

[2019-07-22 03:35] catamphetamine commented on #201
Ok, for anyone googling for this type of thing, here's the highlighter that supports `inline: boolean` property:
https://github.com/catamphetamine/webapp-frontend/blob/master/src/components/PostCode.js

[code]

[2019-07-22 03:37] catamphetamine commented on #201
By the way, here it is in action:
https://catamphetamine.github.io/captchan/%CE%BB/1012?chan=lainchan

[2019-08-05 14:17] adamwathan opened #204 "How to style specific nested tokens?"
**Is your feature request related to a problem? Please describe.**

The built-in styles include nested token styles like this:

https://github.com/conorhastings/react-syntax-highlighter/blob/master/src/styles/prism/ghcolors.js#L163

However as far as I can tell they don't actually seem to work.

**Describe the solution you'd like**

It would be great if there was some way to target nested tokens l

[2019-08-16 21:27] jemodyMS opened #206 "linestyle not working as expected"
1. What is the difference between lineProps and lineStyle?
2. I have used lineStyle as described in the example and as I saw it in issue #76 but it does not work for me. This is what my code looks like -
`<SyntaxHighlighter
                language='csharp'
                showLineNumbers={true}
                style={docco}
                wrapLines
                lineProps={(lineNumber: number)

[2019-08-18 07:53] conorhastings commented on #206
can you post your full code snippet

[2019-08-19 13:35] KutnerBitsrc opened #207 "vue syntax support"
I am using **react-syntax-highlighter** with **Prismjs**.
for most syntaxes it works out of the box, but not for Vue Templates.

it's possible to add languages via ```SyntaxHighlighter.registerLanguage()```, but where can I find definition for Vue?

[2019-08-20 04:08] conorhastings commented on #207
i would need to be a supported language of prism https://prismjs.com/#supported-languages

[2019-08-20 04:08] #207 closed

[2019-08-20 12:08] KutnerBitsrc commented on #207
ok, after some searching, it doesn't seem to be any support for Vue, both officially and by extension.
https://github.com/PrismJS/prism/issues/1665

The format is called 'Single File Component'.
https://vuejs.org/v2/guide/single-file-components.html

😢

[2019-08-20 17:54] conorhastings commented on #207
perhaps comment here -- https://github.com/PrismJS/prism/issues/1665

[2019-08-21 08:42] carlosmiei opened #208 "lineStyle/lineProp not working"
**Describe the bug**
I tried to highlight specific lines following the example on the page but neither of the props worked..

**To Reproduce**
[code]
**Expected behavior**
I was expecting the color change to red.

**Screenshots**
![bug2](https://user-images.githubusercontent.com/43336371/63416748-efdbab00-c3f7-11e9-8ae8-46e82a719f2c.png)
![bug](https://user-images.githubusercontent.com/43336371/63

[2019-08-28 16:40] Rogdham opened #210 "Code removed from output"
## Describe the bug

Highlighting the following code as `html` results in the `alert()` part being removed:

[code]

becomes

[code]

## To Reproduce

### JSX

[code]

### Node.js
Let's use [babel](https://babeljs.io/repl) to transcode the following:
[code]

into:
[code]

When running this script with Node.js (provided react-test-renderer is installed as well), it outputs:
[code]

as you can see,

[2019-09-11 00:20] SHND opened #212 "Serverside rendering and style props"
**Describe the bug**
I'm using **nextjs** for serverside rendering and I've wrapped the **SyntaxHighlighter** inside another component called **Code**.

I have a property *isDark* on **Code** which determines which style for **SyntaxHighlighter** should be used.

On the **SyntaxHighlighter** based on what *isDark* value, I'm toggling between 2 different **hljs** styles.

When the page is loaded on

[2019-09-13 15:51] Rogdham commented on #210
This is a bug in lowlight: https://github.com/wooorm/lowlight/pull/17 which has been fixed in version 1.12.1 :tada:

@conorhastings could you consider updating the lowlight dependency? :pray:

[2019-09-14 18:38] conorhastings commented on #210
@Rogdham currently in flight will make change when i reutrn home

[2019-09-16 19:37] conorhastings commented on #210
hmm tests are failing when i updaet the dep, am looking into it tho

[2019-09-18 13:17] Rogdham commented on #210
I've given #213 a quick look, and indeed tests seems to be failing (even though the CI seems to be ok).

I'm not sure how much of it is due to lowlight now rendering code that was deleted before (i.e. what this issue is about) or just due to other changes.

[2019-09-26 12:38] stof opened #214 "Changelog is missing for version 11"
Neither the changelog file in the repo nor the github release page provides a changelog for version 11.

[2019-09-27 10:33] JoshMcguigan opened #215 "Set tab width"
**Describe the solution you'd like**
I'd like to be able to set tab width by passing a prop to `SyntaxHighlighter`.

**Additional context**
Thanks for your work on this package, I really like how easy it is to use. It would be great if there was a simple way to set the width that tabs are rendered. For now, I'll just convert tabs to spaces.

[2019-10-03 21:06] konsumer opened #216 "Error: Cannot find module '../node_modules/refractor/lang/markup.js'"
**Describe the bug**
Same as #194 but with an example.

I get this error, using parcel:

[code]

**To Reproduce**
[code]

**Resolution**

I think the issue is expecting node_modules to be shaped in a particular way, you should use node module-resolution, instead.

[2019-10-06 23:48] a5l3 opened #217 "Template Literal Javascript - No go"
**Describe the bug**
Working with template literals causes the interpreter to read code strings as code.
Error ``` Unexpected token, expected ";"```

**To Reproduce**
const codeString = `
const PORT = process.env.PORT || 5002;
app.listen(PORT, () => console.log(`Server started on ${PORT}`));
`; <br />
Where codeString is already a template literal `.

Where "Server started on port ${PORT}" is bein

[2019-10-06 23:52] a5l3 commented on #217
app.listen(PORT, () => console.log(\\`Server started on port \\${PORT}\\));
- needed to add some back slashes

[2019-10-06 23:52] #217 closed

[2019-10-08 07:16] Multimo commented on #180
Hey just for anyone else who happens to his this problem: @zamotany's solution has worked for me but I had to use the common js dist instead as my node version had troubled with esm / import syntax.

[code]

[2019-10-08 08:23] a5l3 opened #218 "Is there a better way to structure lots of 'code strings'?"
Currently declaring a component using SyntaxHighlighter like so:
[code]

And then using the component like so:
Where codeServerJs is a template string that holds the codeString.
[code]

It all works well, however I find that the amount of code I have to store in variables is more than the code that renders say the blog post or documentation.
Would there be a more efficient way of calling / structu

[2019-10-10 09:47] faizan-carameltech opened #219 "Responsiveness Issue with small screen width"
**Responsiveness Issue**
The line number and code string overlap when a small width is active.

**To Reproduce**
Simply drag the browser window to minimize the screen width to a minimum

**Code Sample**
[code]
[code]

**Current behavior**
<img width="443" alt="reactSyntax" src="https://user-images.githubusercontent.com/18396012/66558138-83199d00-eb6c-11e9-9968-033d854edd7d.png">

**Expected behavi

[2019-10-10 09:48] Rogdham commented on #210
Hello @conorhastings :wave:, did you make any progress on the issue?

[2019-10-11 04:15] faizan-carameltech commented on #219
@conorhastings, help needed. TIA

[2019-10-11 04:22] conorhastings commented on #219
@faizan-carameltech I don't currently have the bandwidth to look into this issue, I would reccomend exploring other ways to use line numbers manually as this is brittle and will likely be removed

[2019-10-16 00:55] patmigliaccio commented on #219
See the following solution, may lend to what could to be updated in the internals.

[code]

[code]

It ignores the `showLineNumbers` prop and sets them via CSS instead of rendering elements in the DOM.

If I find some time this week, will try to see if I can implement.

[2019-10-17 05:06] darwin67 commented on #216
same here. I'm using parcel and getting the same error.
looks like this was broken since `v10.0.0`

[2019-10-23 00:56] madou commented on #214
Yeah. What broke? What changed? Anything we should know?

@conorhastings is there any secret changelog somewhere?

[2019-10-25 15:49] soosgyul opened #221 "Jest test fails because failing import"
**Describe the bug**
I have a component called CodeDisplay. I have a very simple snapshot test, just to test that the component actually renders, but the test fails.
The test looks like this:
[code]
and the relevant part of the error I'm getting is:
[code]

[2019-10-28 15:06] tjtaill opened #222 "How to you change the Text font size ?"
This is a great project super grateful but having difficulty figuring how I set the text font size for this widget, I figure it is a nested prop somewhere but not sure where, I have found an example of setting the font family but not the size ?

[2019-10-28 15:32] tjtaill commented on #222
sorry
codeTagPros = {
  fontSize: "16",
}

works fine closing

[2019-10-28 17:35] tjtaill commented on #222
Sorry that did not do it, tried
customStyle = {
  lineHeight: 0.75
}

didn't work either need to find where to put fontSize or lineHieght to make the text/code box more compressed

[2019-10-28 18:49] tjtaill commented on #222
This is how I finally got it to work

customStyle = {
lineHeight: "0.75",
fontSize: "1em"
}

codeTagProps =  {
  style: {
    lineHeight: "inherit",
    fontSize: "inherit"
  }
}

Hope this helps someone else

[2019-10-28 18:49] #222 closed

[2019-10-30 08:55] terrierscript opened #223 "CSS in JS syntax highlight is broken on Prism"
**Describe the bug**

I try to highlight styled-components code with function, code got unexpected.

**To Reproduce**
Steps to reproduce the behavior:
1. append like those code

[code]

2. wrap with Prism syntax highligter

[code]

3. got unexpected code

[code]

**Expected behavior**
I want to get like higlight.js version result.

[code]

**Screenshots**
https://stackblitz.com/edit/react-tjouhm

[2019-10-31 00:27] terrierscript commented on #223
added smartphone part

[2019-11-04 16:47] Roeefl opened #224 "lineStyle was replaced by lineProps but documentation/demo is incorrect"
Hello,

Apparently you've replaced the prop `lineStyle` by `lineProps`.

However, the example at http://conorhastings.github.io/react-syntax-highlighter/demo/diff.html is still using `lineStyle`

Attempting to use `lineProps` in a similar fashion, or in any other fashion, does not seem to work when trying to apply custom styling to each line.

Thank you

[2019-11-04 18:53] conorhastings commented on #224
can you post example code please

[2019-11-08 21:52] Roeefl commented on #224
Not sure what you mean bro,

On your own example code here:
http://conorhastings.github.io/react-syntax-highlighter/demo/diff.html

If you try to run it, you'd get
`Warning: React does not recognize the `lineStyle` prop on a DOM element.`

[2019-11-08 21:53] Roeefl commented on #224
I'm just asking how to use lineProps in a similar fashion since I could only find this:

`lineProps - props to be passed to the span wrapping each line if wrapLines is true. Can be either an object or a function that receives current line number as argument and returns props object.`

But I can't seem to use it in the way you'd intended

Thanks

[2019-11-09 09:33] aravind1078 opened #225 "fontfamily style passed to codetagprops doesnot work"
**Describe the bug**
when I pass font-family to the code tag props it does not set its font-family style

**To Reproduce**
Steps to reproduce the behavior:
pass object to codetagprops including font-family:'monaco'

**Expected behavior**
expect it to set the font-family style of what i passed it as props

[2019-11-13 22:45] camendoza94 commented on #224
See this PR #220

[2019-11-14 05:26] Roeefl commented on #224
Thank you.

[2019-11-14 18:13] #224 closed

[2019-11-15 05:02] yyyc514 opened #226 "Uncaught TypeError: hljs.getLanguage(...).rawDefinition is not a function"
**Describe the bug**

Receiving the following error with Highlight.js 9.16.2.

[code]

Reporting this on behalf of @mattwhocn.  Was originally filed against Highlight.js:

https://github.com/highlightjs/highlight.js/issues/2279

**To Reproduce**
Steps to reproduce the behavior:
1. Try using `react-syntax-highlighter` with Highlight.js 10.16.2
2. See issue I imagine (see additional context below)

[2019-11-15 05:29] yyyc514 commented on #226
Though actually 9.15.10 has the same dependency:

[code]

So now I guess I'm a little confused.

[2019-11-15 05:36] yyyc514 commented on #226
Ok, I'm thinking this is a lowlight issue now, sheesh.  Off to open an issue there. :)  Will link it here just incase.

[2019-11-15 05:38] yyyc514 commented on #226
https://github.com/wooorm/lowlight/issues/19

[2019-11-15 05:43] yyyc514 commented on #226
Curious: How does `build-languages-highlightjs.js` guarantee the correct load order though?  I don't see any mention of `Requires` or re-ordering the languages to load in the correct order.

Arduino will below up if it's loaded before CPP.  So not sure how this is working now?

[2019-11-15 05:57] yyyc514 commented on #226
This is what I'd expect you to see:

https://github.com/conorhastings/react-syntax-highlighter/issues/10

[2019-11-15 17:08] wooorm commented on #226
Should work now after updating to lowlight 1.13.0

[2019-11-15 20:43] yyyc514 commented on #226
Any idea on my ordering question?

[2019-11-15 20:46] conorhastings commented on #226
@yyyc514 there is ordering logic, is this defined anywhere if it is i can build it in

[2019-11-15 20:48] yyyc514 commented on #226
Well it may change in the future but right now the language files are annotated in the top comment. “Requires”

Dependencies should be loaded first. Though now I’m already thinking about how we might remove this requirement.

[2019-11-15 20:58] wooorm commented on #226
With refractor/prism it's more clear (as in, separated) than with hljs. There I use babel to inspect the languages to require and go from there.

I'd suggest using something like require or import for hljs? That's useful for tools like us and built tools internally

[2019-11-15 21:06] yyyc514 commented on #226
Long term we likely will. First we need new build system which I’ve been working on. Though eventually that gets into how do we do duplication in modules if we’re resolving dependencies at compile time not runtime.

https://github.com/highlightjs/highlight.js/issues/2248

[2019-11-15 21:07] yyyc514 commented on #226
Is just ripping ordering from index.js not trivial?

[2019-11-16 07:37] wooorm commented on #226
That would be awesome! Btw, I think the questions you ask there are supported by build tools like webpack (async loading), Conor is doing that here!

---

We could indeed also introduce a build step with babel in lowlight, similar to refractor, that detects e.g., [`hljs.getLanguage`](https://github.com/highlightjs/highlight.js/blob/61cd26958cff7876dfc12ccbc5c3444cd3755b6f/src/languages/arduino.js#

[2019-11-16 08:41] yyyc514 commented on #226
Well, the issue [this one] with your own codebase was because you're a fork essentially.  Once we have a parse tree output you could really slim down a lot (by requiring us vs rewriting us), and then I don't think you'd run afoul of this type of issue in the future - since really your codebase would mostly disappear.

I'm not sure why `react-syntax-highlighter` needs such a complex build system fo

[2019-11-16 08:58] wooorm commented on #226
Again, that is exactly what I want.

react-syntax-highlighter has a build system because it [solves what your linked issue is about](https://github.com/conorhastings/react-syntax-highlighter#light-build)

[2019-11-16 11:12] yyyc514 commented on #226
But our NPM package already has requirable modules... are they going to ALL that trouble just to get the registerLanguage included in the require?  No, because then they still have to go and register it manually... I'm not sure I get the point.

Not sure why they just couldn't require our NATIVE packaged languages directly rather than wrap them all.

[2019-11-16 11:15] yyyc514 commented on #226
I've been working on other things but when I have a PR with the tree stuff I'll ping you and you can play with it and give feedback.

[2019-11-16 14:09] samselikoff commented on #208
Believe it's been changed to `lineProps`. Try changing it to that and returning an object like `{ style: { display: 'block', color: '#ff0000' }}`

[2019-11-18 08:45] Rogdham commented on #210
It seems that even though #213 is merged, the issue is still not fixed since:
 1. this package needs `react-syntax-highlighter-virtualized-renderer^1.0.3`
 2. …which needs `react-syntax-highlighter^5.1.2`
 3. …and since it's an old version, it still needs an old version of lowlight.

Maybe there is a better way to specify such a _circular dependency_?

[2019-11-20 11:14] mxmzb commented on #223
i'm experiencing this, too.

[code]

will result in

[code]

[2019-11-21 07:56] bencmbrook opened #227 "vsDark is not exported"
`src/styles/prism/vs-dark.js` exists but isn't exported from [`src/styles/prism/index.js`](https://github.com/conorhastings/react-syntax-highlighter/blob/master/src/styles/prism/index.js)

Related to #184

[2019-11-26 15:41] seldomU opened #228 "Light build imports everything"
Importing the light build like the readme suggests results in a bundle that contains all languages.
[code]
Importing with the line below results in the desired behaviour -- the bundle contains only the explicitly imported languages.
[code]
I'm using version 11.0.2, bundling with webpack.

[2019-11-29 08:29] mnikkane commented on #221
Adding this (workaround) to jest config helped me in similar case:

[code]
But I think this is just a workaround and should not be needed if all works correctly, so I think this issue is valid still.

[2019-12-03 05:47] mirror-riddle commented on #228
`webpack` drops unused code only in production mode 😸

[2019-12-03 09:58] seldomU commented on #228
It happens in production builds as well.

[2019-12-04 09:53] Rogdham commented on #210
Thinking back about this, `react-syntax-highlighter-virtualized-renderer` is only a dozen of lines long, so it would make sense to merge that code into the `react-syntax-highlighter` maybe?

If my understanding is correct, both packages depends on each other, so all their dependencies would be installed anyways. Obviously, I'm missing why you (@conorhastings) split the code into to repositories, s

[2019-12-13 15:30] Vista1nik opened #230 "SyntaxError: Unexpected token export when using NextJS"
**Describe the bug**
Error appears when I trying to import any react-syntax-highlighter styles in NextJS app.

**To Reproduce**
Steps to reproduce the behavior:
1. Create NextJS app using 'create-next-app'
2. Import any react-syntax-highlighter style.

**Expected behavior**
Working Syntax Highlight.

**Desktop (please complete the following information):**
 - OS: ArchLinux
 - Browser: Chrome
 - Ve

[2019-12-14 05:22] scottsgcho commented on #230
Getting the same issue

[2019-12-15 03:54] jaredpetersen commented on #219
@patmigliaccio This is an amazing fix! Thank you!

[2019-12-15 14:07] malithmcr commented on #230
I'm having the same issue.

[2019-12-15 17:44] conorhastings commented on #219
@patmigliaccio I don't really fully understand what is happening there so you find time to implement that would be great as i don't feel confident doing it

[2019-12-15 17:45] conorhastings commented on #230
@malithmcr @scottsgcho @Vista1nik do any of you have a repo with the error

[2019-12-17 11:30] tommywalkie commented on #221
@soosgyul Using Jest, Enzyme and Parcel in my project, it doesn't seem like Jest recognized the content in `dist/esm` as modules, so when Jest detects an `import` statement it doesn't understand and make the test fail.
[code]

So i figured that falling back to CommonJS files in `dist/cjs` when importing what i needed (in my case I just needed `Prism`), it did the trick for both development and tes

[2019-12-18 07:48] sidujjain commented on #230
you can fix the issue using `next-transpile-modules` but it doesn't seem to do tree-shaking.

Something like this in `next.config.js`:
[code]

[2019-12-18 13:47] sdorra opened #232 "Code Splitting: Language c not supported"
**Describe the bug**
Language "c" could not be loaded when using `LightAsync` in production mode with enabled code splitting. If i try to highlight c code i get the following error on the console:

[code]

In development mode, without code splitting, everything works as expected. I think the problem is that highlight.js uses a single file (**cal**) for the languages **c** and **al**.

**To Reprodu

[2019-12-21 16:31] zemuldo commented on #230
@sidujjain Following your advice and https://www.npmjs.com/package/next-transpile-modules docs helped. Thanks!

[2019-12-23 06:52] sidujjain commented on #230
you're welcome @zemuldo!

Actually I found a better solution. You just need to use `cjs` module.

`react-syntax-highlighter/dist/cjs/...`
instead of:
`react-syntax-highlighter/dist/esm/...`

And you won't have to use `next-transpile-modules`.

[2019-12-28 12:25] imjustd opened #235 "Wrap long lines not working"
**Describe the bug**
Long lines can't be wrapped, when trying to do with style `white-space: pre-wrap;` on the `pre code` element the line numbers get broken.

**To Reproduce**
Steps to reproduce the behavior:
1. Add new SyntaxHighlighter with long code of any king
2. Set style `white-space: pre-wrap;` on the `pre code` element
3. Scroll down to the bottom and see last lines without number

**Expe

[2019-12-29 21:42] juli1 opened #236 "Ability to add annotations to the code"
**Is your feature request related to a problem? Please describe.**

I would like to be able to add annotation to the source code (e.g. such as in a code review). Today, this is possible to change the color of a line, what I would like to be able is to add components/elements to the code (custom annotations).

**Describe the solution you'd like**

Have a function that, as for `lineProps`, let me sp

[2019-12-31 08:22] juli1 commented on #236
One example of how it would look: https://codepen.io/anon/pen/VmQpYz

[2019-12-31 14:54] hsluoyz commented on #92
This one can be solved.

[2020-01-01 12:29] LarsDenBakker commented on #228
I am seeing the same issue.

[2020-01-01 19:31] erykpiast commented on #86
@afraser, @conorhastings  could you provide an example of how to wrap lines with CSS, including line numbers?

[2020-01-02 10:25] Rogdham commented on #210
In the meanwhile, a workaround is to use [Yarn's resolution feature](https://yarnpkg.com/en/docs/selective-version-resolutions) by adding the following to `package.json`:

[code]

[2020-01-05 23:08] fakoua opened #239 "Allow copy code to clipboard."
Hi,
I can't see allowCopy property, it's a very useful feature if not supported.
Thanks

[2020-01-09 08:28] mirror-riddle commented on #228
@seldomU @LarsDenBakker

I wrote a [webpack-starter](https://github.com/mirror-riddle/webpack-starter) that use react-syntax-highlighter, and didn't have your problem. Maybe you should check it out.

[2020-01-13 07:09] kimfucious opened #241 "Use fn.toString() and preserve line breaks."
This is not a bug, or at least I don't think it is.  It's a usage question, so feel free to tell me to buzz off and post on stackoverflow if you want.

In brief, say I have a function like the below:

[code]
And I want to get that into a React component (via props) and then display that function with your marvelous tool, like this:

[code]

Things actually look pretty good in dev mode (i.e. npm st

[2020-01-14 12:31] hsluoyz commented on #92
Any update?

[2020-01-19 13:46] jeffreycwitt commented on #221
Had the same problem for import of "docco".

Originally I had:

`import { docco } from 'react-syntax-highlighter/dist/esm/styles/hljs';` (doesn't work)

Following @tommywalkie I got it work using the following import:

`import { docco } from 'react-syntax-highlighter/dist/cjs/styles/hljs';` (works)

Thanks @tommywalkie !

[2020-01-20 21:42] kylepeeler commented on #214
Bump, can we get an updated changelog? I don't feel comfortable updating this package until I know what changes/what is breaking so that I can fix it... @conorhastings

[2020-01-27 15:29] joshua-owens opened #242 "Add support for onClick for line number"
Very similar to #101 I am looking for a way to add an onClick to the line number rather than to the line of code.

For my use case I am essentially trying to mimic the way github works where you can click a line number in a file and it will highlight that line and update the URL accordingly

[2020-02-06 04:29] AashJ opened #244 "Line number renderer"
Is there anyway to render the line numbers in a different way? I want to implement something where a user can select multiple lines by dragging across line numbers. Any ideas on how to achieve this?

[2020-02-08 21:58] lukebjerring commented on #223
Reproduces for me too, with
[code]

[2020-02-10 01:27] ajohnson1031 commented on #239
This would be a great addition.

[2020-02-23 22:52] NotoriousRebel commented on #227
Any updates?

[2020-02-25 22:16] simmerer commented on #239
I'm using https://github.com/nkbt/react-copy-to-clipboard alongside react-syntax-highlighter with great success. Copy-to-clipboard is only useful for copying the raw input string, not the marked-up/highlighted output, so it seems like a good piece of functionality to keep separate.

[2020-03-09 18:23] GnarusGBaby opened #248 "wrapLines"
wrapLines feature no longer seems to be active. Is it coming back anytime? I'd love to be able to use it.

[2020-03-09 18:31] GnarusGBaby commented on #248
Nevermind. I had the wrong perception of what the feature does. I thought it would format the indentations of the lines.

[2020-03-09 18:31] #248 closed

[2020-03-23 06:26] trustin commented on #99
This is my version of `process` function (TypeScript). Removes both leading and trailing empty lines and trims all lines more aggressively.

[code]

[2020-03-23 11:55] gediminasel opened #252 "lineProps object should not be modified"
**Describe the bug**
https://github.com/conorhastings/react-syntax-highlighter/blob/master/src/highlight.js#L101
`className` is added directly to `lineProps` object therefore list of class names persist through lines and keeps growing.

**To Reproduce**
Steps to reproduce the behavior:
1. Use SyntaxHighlighter to highlight code with multiline comments
2. Set `wrapLines={true}`
3. Pass object or `u

[2020-03-23 23:37] kylepeeler commented on #214
Bump any updates? We have seen two major versions and no direction to what has changed or an upgrade path necessary if there are any regressions... @conorhastings

[2020-03-23 23:39] conorhastings commented on #214
I try to get to these thing when i can im currently working a new full time job and dont havee time to be eproactivee with theese issues apologies

[2020-03-25 12:34] chiyutianyi opened #253 "first number will be missing when highlighter "only {number}f {number}transfer"."
**Describe the bug**
char "2" is missing when highlighter "only 2f transfer".

**Screenshots**
https://react-syntax-highlighter.github.io/react-syntax-highlighter/demo/
![image](https://user-images.githubusercontent.com/16610542/77536816-f1160e80-6ed7-11ea-913d-e538bc3b39d3.png)

[2020-03-31 19:14] jack-bliss commented on #223
any word on this? I love that prism is highlighting my css in js rather than just leaving it as a string. it's not blocking for me because i'm happy to just tweak my examples, but it's definitely limiting and could become annoying down the road.

[2020-03-31 20:20] kylepeeler commented on #214
If we can't get a changelog... can u let us know what exactly could lead to a breaking change when upgrading from v10 -> v12? I would really like to upgrade but without knowing this it won't be :/ thanks.

[2020-04-02 18:31] alixander commented on #206
It's renamed to lineNumberProps

[2020-04-21 05:44] zedissime commented on #216
Still facing it at `v12.2.1`

[2020-04-26 09:59] phoenisx opened #254 "Latest release does not reflect master"
Hi! I see that master says, `toml` is supported, but the last release was done 4 months ago. Pardon me, if this is not the right place to post this kind of issue, but I just wanted to know when is the latest release happening and how do you release your code?

I really am in need for `toml` syntax, which I see is already supported, but not yet published.

Thanks.

[2020-04-26 12:15] polaroidkidd commented on #216
also identical with `npx create-react-app-parcel react-parcel-ts  --scripts-version=create-react-app-parcel-typescript`

[2020-04-29 17:26] simmerer commented on #252
Pretty sure I introduced this one. Thanks for calling this out! I'll get on it.

[2020-05-04 14:26] dominguesgm opened #256 "Prism syntax highlighter injects inline styles to code tag with useInlineStyles set to false"
**Describe the bug**
When using the Prism syntax highlighter, with the `useInlineStyles` prop set to `false`, some inline styles are still injected into the `code` tag.

It appears that this is the only tag where inline styles are still injected.

**To Reproduce**
Example [codesandbox here](https://codesandbox.io/s/cool-swirles-wzpnf?file=/src/App.js:285-409)

**Expected behavior**
The `code` tag

[2020-05-30 02:45] mwmancuso opened #260 "Keep code segment classes when useInlineStyles is true"
**Is your feature request related to a problem? Please describe.**
I'm building a code color/style configurator and wanted to be able to listen for clicks on certain types of code segments (keyword, title, params, numbers, etc) to change their colors. To do so I need each segment to retain its type as a class (hljs-keyword, hljs-title, etc), but currently when you enable "useInlineStyles", createE

[2020-05-31 14:51] kwkr commented on #225
In my case it worked when I included it like this:
[code]

[2020-06-03 17:07] c0derabbit commented on #196
for anyone else running into this, leaving out `SyntaxHighlighter.registerLanguage(...)` can also cause syntax highlighting not to happen (:

[2020-06-08 15:24] talhabalaj opened #263 "No syntax highlighting after creating a production build with create-react-app"
**Describe the bug**
Styles are not applied to the `<code>` in the production build that's not the case when I'm using dev server.

**To Reproduce**
Steps to reproduce the behavior:
1. Use `create-react-app` to create project using `typescript` template (idk if template matters)
2. Use any of the syntax highlighter
3. Use `npm start build`
4. See the error

**Expected behavior**
Styles should be a

[2020-06-12 01:49] #244 closed

[2020-06-12 06:26] NewBieBR opened #265 "Component's prop with inline function renders incorrectly"
**Describe the bug**
Component's prop with inline function renders incorrectly.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to [the official demo](https://react-syntax-highlighter.github.io/react-syntax-highlighter/demo/)
2. Use this code as source:
[code]
3. See `propFn` brackets colors are incorrect on the right panel.

**Expected behavior**
Correct brackets colors.

**Screenshots**

[2020-06-18 05:11] Adam13531 commented on #196
Oh boy, I just spent a couple of hours debugging what was essentially this exact same problem. 😳 I made progress and I think I have answers for anyone who stumbles on this in the future.

I'm using NextJS with static exports and `react-syntax-highlighter`, and I was trying to highlight HTML with nested JavaScript in a `<script>` tag (that's the only real difference from @Adam-Collier's original pr

[2020-06-18 13:24] alexandrecanuto commented on #263
Same thing happens to me, it runs fine in dev / localhost, but as soon as I deploy it, it becomes one single block of text with the same syntax.

[2020-06-30 01:08] filipe-costa commented on #263
Same issue happens while using Nextjs.

[2020-07-09 06:20] kunyan opened #270 "Line number should be able to clickable (like Github) or support custom component"
**Is your feature request related to a problem? Please describe.**
I'm trying to implement a source code viewer which is similar like GitHub.
It should support highlight a single line by clicked.

the url path should added "https://github.com/conorhastings/react-syntax-highlighter-virtualized-renderer/blob/master/package.json#L3"

If we could support multi lines selected that will be great ! examp

[2020-07-13 17:39] SalahAdDin commented on #230
It didn't work for me.

[2020-07-13 17:51] SalahAdDin commented on #208
@samselikoff @carlosmiei
yeah, it was changed to `lineProps` even when in the documentation and the `typescript` file say it is still available.

[2020-07-13 19:38] #230 closed

[2020-07-14 10:44] SalahAdDin opened #271 "Mixing js and jsx renders some tags in a wrong way"
**Describe the bug**
I'm trying to render a normal javascript file which includes both `js` and `jsx`:
[code]

**To Reproduce**
To see this we just normally render the content.
1. Insert some of code in the editor(who's gets it as markdown).
2. Go to the main page.
3. Look in the content section
4. See error

**Expected behavior**
We should see something like:
![originalcode](https://user-images.g

[2020-07-23 20:47] simmerer commented on #252
Resolved in upcoming `13.0.0` release.

[2020-07-23 20:47] #252 closed

[2020-07-23 20:51] simmerer commented on #227
I'll take a look at this one shortly!

[2020-07-23 20:52] simmerer commented on #254
Hello! Conor's been swamped with other stuff, so I'm pitching in to help. Working on prepping a 13.0.0 release which will contain the past few months' updates. Sorry for the delay!

[2020-07-23 22:52] simmerer opened #275 "Publish 13.0.0 package to npm"
13.0.0 is released and ready here: https://github.com/conorhastings/react-syntax-highlighter/releases/tag/13.0.0

Should be ready for publishing to the NPM Registry whenever you have a moment.

[2020-07-23 23:14] simmerer commented on #254
Just waiting on publish to npm: https://github.com/conorhastings/react-syntax-highlighter/issues/275

[2020-07-23 23:18] conorhastings commented on #275
published

[2020-07-23 23:18] #275 closed

[2020-07-23 23:18] conorhastings commented on #254
13.0 released thanks @simmerer

[2020-07-23 23:18] #254 closed

[2020-07-24 05:38] simmerer opened #277 "Github Pages not building properly"
Sorry to bother you again with another permissions request @conorhastings, but if you'd be cool with granting me `Settings`-level permissions here, I can work on why my push to `gh-pages` isn't getting built properly.

~New HTML and CSS are there in the demos, but the demo JS is all old.~

After deleting and re-pushing the `gh-pages` branch, it's all `404` :(

[2020-07-24 16:54] simmerer commented on #271
Hello! Could you show your syntax-highighting code that's producing what we're seeing above? My guess is that your code isn't including a `language` prop.

[2020-07-24 17:57] SalahAdDin commented on #271
It seems you are right, i tried it today and i didn't found that error, i will close this bug.

I will reopen it if i see it again.

@simmerer Thanks.

[2020-07-24 17:57] #271 closed

[2020-07-24 19:10] simmerer commented on #271
Thank you!

[2020-07-26 14:13] Preshonyee commented on #230
this works for me...after loads of trial and error

[2020-07-29 18:24] prichey opened #278 "Unexpected behavior with `useInlineStyles={false}`"
**Describe the bug**
A clear and concise description of what the bug is.

Currently, if you set `useInlineStyles` to be false, the component doesn't pass `className` or `customStyle`, if either are provided.

You can see in the code [here](https://github.com/conorhastings/react-syntax-highlighter/blob/master/src/highlight.js#L340), these props are not spread onto the provided `className`.

**Expec

[2020-07-29 18:37] conorhastings commented on #277
i temporarily removed your access and reinvited you i can only add you as a collaborator going to look into moving this project to an org

[2020-07-29 18:44] conorhastings commented on #277
going to move to here -- https://github.com/react-syntax-highlighter/react-syntax-highlighter invited you as an owner of the org, what's your npm username i can give you access to publish as well

[2020-07-29 19:43] simmerer commented on #277
Spectacular! I'm `simmerer` on npm as well.

[2020-07-29 21:13] conorhastings commented on #277
@simmerer invited on npm good to close this?

[2020-07-29 21:19] conorhastings commented on #242
that should be possible with tue current implementation so you know which line was clicked you can alter its style

[2020-07-29 21:19] #242 closed

[2020-07-29 21:19] conorhastings commented on #270
this is supported -- see issue 101

[2020-07-29 21:19] #270 closed

[2020-07-29 21:36] #277 closed

[2020-07-29 21:50] conorhastings commented on #265
The default demo uses hljs which does not highllight jsx try with prism
<img width="458" alt="Screen Shot 2020-07-29 at 2 49 28 PM" src="https://user-images.githubusercontent.com/8263298/88857253-cc45e680-d1aa-11ea-8579-2e82519addae.png">

[2020-07-30 23:23] simmerer commented on #265
@NewBieBR could you add a screenshot just so we can be sure we're talking about the same thing? I'm not sure I understand precisely what you mean by "brackets colors are incorrect".

[2020-07-30 23:36] #140 closed

[2020-07-30 23:44] simmerer commented on #210
[We're using `lowlight=1.14.0` now](https://github.com/react-syntax-highlighter/react-syntax-highlighter/blob/master/package.json#L11), so this is resolved in `react-syntax-highlighter` 13.0.0+

Try it here in the updated demo: https://react-syntax-highlighter.github.io/react-syntax-highlighter/demo/prism.html

[2020-07-30 23:44] #210 closed

[2020-07-31 00:01] simmerer commented on #167
Associated PR was closed, closing this issue

[2020-07-31 00:01] #167 closed

[2020-07-31 00:08] simmerer commented on #227
https://github.com/react-syntax-highlighter/react-syntax-highlighter/pull/283 will fix this... had to update our dependency to pull the latest commits from `prism-themes`.

Looks like `vs-dark` has been superseded by `vsc-dark-plus`.

[2020-07-31 00:12] simmerer commented on #219
This is fixed by adding the `showInlineLineNumbers` prop, available as of `react-syntax-highlighter 13.0.0`.

[code]

[2020-07-31 00:12] #219 closed

[2020-07-31 00:16] simmerer commented on #226
Closing this issue as we've refactored our `lowlight` vs `refractor` [detection logic](https://github.com/react-syntax-highlighter/react-syntax-highlighter/blob/9fca845a4f175edd705f5cd89e7c9b5e1f966f16/src/highlight.js#L269-L298) and are no longer calling `getLanguage()` anywhere.

Did you ever get a satisfactory conclusion to this issue elsewhere, @yyyc514 ?

[2020-07-31 00:16] #226 closed

[2020-07-31 00:19] #208 closed

[2020-07-31 00:19] #206 closed

[2020-07-31 00:40] simmerer commented on #227
Resolved with `13.2.0` 🎉

[2020-07-31 00:40] #227 closed

[2020-07-31 00:58] simmerer commented on #225
Yep, the `style` object needs keys to be either camelCased or quoted. Either of these should work:

[code]

[code]

[2020-07-31 00:58] #225 closed

[2020-07-31 03:16] simmerer commented on #253
Couldn't reproduce this on 13.2.1.

<img width="993" alt="Screen Shot 2020-07-30 at 8 13 41 PM" src="https://user-images.githubusercontent.com/194735/88996181-74d67200-d2a1-11ea-9a43-02966fba79fb.png">

Try the updated demo: https://react-syntax-highlighter.github.io/react-syntax-highlighter/demo/

[2020-07-31 03:16] #253 closed

[2020-07-31 03:18] #221 closed

[2020-07-31 15:35] yyyc514 commented on #226
I only skimmed but I think my answers remain the same as before:

- Build and load a monolith (letting us handle the dependencies)
- Use the `Requires:` meta-data in the languages files to build your own dependency tree.
- Use the order of languages in the `index` file to decide "proper" load order.

Long-term we might switch to modules everywhere and move away from run-time dependencies but that'

[2020-07-31 21:37] urish opened #285 "Incorrect syntax highlighting for mutli-line comments"
First of all, thanks for the awesome library! I'm in the process of migrating [GoodArduinoCode](https://goodarduinocode.com) to use this library for the syntax highlighting, and `react-syntax-highlighter` looks so much more feature complete than the library I have been using before (e.g. being able to wrap each line with an element, custom line renderer...) wow 😊

## Describe the bug
In Multi-line

[2020-08-01 05:20] simmerer commented on #260
Since the `className`s that end up being applied are almost always based on the token type of the highlighted element, how would you feel about a `data-token=""` attr (or even `data-classname=""`, for that matter) that provides the same value? This would provide a target for your listener, without potentially introducing actual CSS classnames that someone might intentionally want to suppress.

[2020-08-02 01:31] simmerer commented on #285
It appears that the two-sequential-asterisk pattern you're using to open comments is causing this behavior.

In your demo link (thank you for providing that!), notice that [this comment is highlighted correctly](https://good-arduino-code-j405doypd.vercel.app/projects/simon#source-simon_ino):

[code]

If `/**` should be a valid comment-opening structure for a c-like language, I think this may be an

[2020-08-02 01:36] #239 closed

[2020-08-02 08:19] urish commented on #285
Hi David, thank you for looking into this!

I tried to see if the issue reproduces when using highlight.js directly, but it seems to be specific to `react-syntax-highlighter`:

* [Arduino code highlighted with highlight.js directly](https://stackblitz.com/edit/react-syntax-highlighter-issue-highlightjs?file=index.tsx) - all the comment lines are grayed out
* [JavaScript + `react-syntax-highlighter

[2020-08-02 16:13] prichey commented on #278
This was unintentionally closed, it's still an issue

[2020-08-04 12:51] urish commented on #285
Anything I can do to help with this?

[2020-08-04 19:52] rodrigo-fonseca opened #286 "Inserting a code with horizontal scroll on non visible part of the code (far right), when you go back (to left) and try to see this new code, it's not visible"
**Describe the bug**
Inserting a code with horizontal scroll on non visible part of the code (far right), when you go back (to left) and try to see this code, it's not visible

**To Reproduce**
1 - Length of the code that shows horizontal scroll
2 - Go to far right using horizontal scroll
3 - Insert a code on non visible part (far right, using horizontal scroll)
4 - Go back to left an try to see t

[2020-08-05 00:40] sunknudsen opened #287 "Truncated Prism `shell-session` language command output"
**Describe the bug**

When using Prism `shell-session` language, command output is truncated.

**To Reproduce**

Supply the following value to `<SyntaxHighlighter language="shell-session">{value}</SyntaxHighlighter>`.

[code]

**Expected behavior**

The `<span class="token output">` tag should include the whole output of command `$ ssh-keygen -t rsa -C "vpn-server"` as seen on https://prismjs.com/

[2020-08-05 10:07] sunknudsen commented on #287
FYI: using `react-refractor` instead of `react-syntax-highlighter` works so I believe the issue is within this package.

[code]

[2020-08-05 12:58] TCezarRod opened #288 "`lineProps` is passing `false` as the `lineNumber` argument for all but the last line since v13.0.0"
**Describe the bug**
Hello. I've updated to v13.0.0+, and noticed that when we use the prop `lineProps` as a function, it is passing `false` as the `lineNumber` argument for all but the last line.

**To Reproduce**
Steps to reproduce the behavior:
1. Render a `<SyntaxHighlighter />` with the prop `wrapLines` enabled and a code string with more than 1 line.
2. Use the prop `lineProps`, passing a fu

[2020-08-05 22:35] simmerer commented on #285
Feels to me like https://github.com/react-syntax-highlighter/react-syntax-highlighter/issues/287 is related.

@urish we'd always welcome a PR if you think you've gotten to the bottom of why this is happening! I know Conor's pretty busy, and I haven't had a chance to dig into this one yet, but I'll try to get to it in the next few days.

[2020-08-05 22:37] simmerer commented on #287
Thanks for doublechecking against `react-refractor`, @sunknudsen

I'll try to dig into this soon.

[2020-08-06 06:45] urish commented on #285
Thanks David! I can definitely look into it, any pointers that can help? Maybe some suspect or a good place to start looking at?

[2020-08-06 21:29] simmerer commented on #285
Yep! https://github.com/react-syntax-highlighter/react-syntax-highlighter/blob/master/src/highlight.js is the crux of the processing that's custom to `react-syntax-highlighter`, and I'd probably begin with what's happening in [`createLineElement`](https://github.com/react-syntax-highlighter/react-syntax-highlighter/blob/master/src/highlight.js#L92)

[2020-08-07 18:45] urish commented on #285
I think I found the issue, sent a PR with all the details (#289)

[2020-08-07 23:54] simmerer commented on #287
Great news: @urish 's fix over here https://github.com/react-syntax-highlighter/react-syntax-highlighter/pull/289 also solved the root cause of this issue!

I'll get these rolled into a release shortly.

[2020-08-07 23:56] #285 closed

[2020-08-08 19:03] #278 closed

[2020-08-08 19:12] simmerer commented on #287
Fixed in 13.3.1

[2020-08-08 19:12] #287 closed

[2020-08-10 02:07] mwmancuso commented on #260
That's works for me—didn't even consider that. I'll work on this when I get a chance. Should there be a config flag to enable them?

[2020-08-10 17:09] simmerer commented on #260
I lean slightly toward enabling by default, and providing a flag to disable... but I'm open to arguments for the opposite. Excited to see your PR.

[2020-08-10 21:22] FedericoDiRosa commented on #263
And Gatsby

[2020-08-11 17:45] mshwery opened #294 "csharp hljs module has incorrect require path"
**Describe the bug**
Requiring `react-syntax-highlighter/dist/esm/languages/hljs/cs` fails because it is requiring a module path that does not exist: https://github.com/react-syntax-highlighter/react-syntax-highlighter/blob/master/languages/hljs/cs.js#L7

The correct path should target `csharp` not `cs`:
https://github.com/highlightjs/highlight.js/blob/014343e8d57f35ac6b01c619d9a3d8989de39dfe/src/

[2020-08-13 22:03] simmerer commented on #223
Hey @jack-bliss, I'll try to take a look at this soon! Thanks for your patience.

[2020-08-13 22:06] #200 closed

[2020-08-14 22:36] simmerer commented on #294
Hey @mshwery, thanks for highlighting this. I probably should have called out the language-renaming changes from  `highlight.js` 10.1.x a little more emphatically in our [13.0.0 release notes](https://github.com/react-syntax-highlighter/react-syntax-highlighter/releases/tag/13.0.0).

We autogenerate our language modules from highlight, so if you want to use `react-syntax-highlighter` 13+, you'll n

[2020-08-14 22:36] #294 closed

[2020-08-14 23:25] simmerer commented on #241
Great question!

This is a build-level issue, where you need to tell your javascript-modifying webpack plugin to buzz off for only certain lines... which I don't think is possible in the tools I'm familiar with.

I don't know if you're using `uglify` or `terser` in your config, but assuming you're relying on `terser` to compress your javascript, [the compression options there](https://github.com/t

[2020-08-14 23:25] #241 closed

[2020-08-14 23:41] simmerer commented on #265
Closing as this is likely a highlighting library choice issue.

- Prism provides `jsx` as a language definition
- Highlight attempts to highlight JSX with their `javascript` definition, but it doesn't always handle JSX correctly

If you're highlighting JSX, you should probably use Prism:

[code]

[2020-08-14 23:41] #265 closed

[2020-08-18 19:54] samuela opened #301 "Can't import createElement as of version 13.5"
**Describe the bug**
[code]
worked to import the `createElement` function as late as 13.4, but no longer works on 13.5.

[code]
also does not work.

**To Reproduce**
Steps to reproduce the behavior:
1. Install version 13.4.
2. Try `import createElement from "react-syntax-highlighter/create-element";`. It works.
3. Upgrade to version 13.5.
4. Try the same import again and it fails.

**Expected beha

[2020-08-18 20:02] samuela commented on #301
Update:
[code]
does the trick, but it doesn't seem right to have to dig through `dist/esm` to get to things that are in the public API of the package.

[2020-08-18 20:24] samuela opened #302 "Poor performance on re-render"
**Describe the bug**
Any time React does a re-render on the `SyntaxHighlighter` component, the component does a full re-parse, re-highlight of the entire document even when the document hasn't changed. The most egregious offender is [`getCodeTree`](https://github.com/react-syntax-highlighter/react-syntax-highlighter/blob/master/src/highlight.js#L280) and next up is [`processLines`](https://github.

[2020-08-20 04:34] #301 closed

[2020-08-24 10:16] karlhorky commented on #236
In case annotations would be something that the `react-syntax-highlighter` team would have interest in, I would like to propose another type of annotations:

Annotations for referencing certain tokens or lines of the code for teaching purposes. Eg. HTML and CSS on MDN or other platforms:

<img width="717" alt="53565228-23c8c880-3b59-11e9-9c89-390bed01ff3e" src="https://user-images.githubuserconten

[2020-08-24 12:24] karlhorky commented on #204
Just ran into this today, trying to style `interpolation-punctuation`.

Simple reproduction here:

![Screen Shot 2020-08-24 at 14 21 28](https://user-images.githubusercontent.com/1935696/91044355-70d60f80-e615-11ea-83dc-56454bd5dc9a.png)

Sandbox: https://codesandbox.io/s/react-syntax-highlighter-forked-kjnk7?file=/src/index.js:265-559

[2020-08-24 12:30] karlhorky commented on #204
@simmerer I would like to try my hand at doing a PR for this.

I've narrowed it down to this part of the `create-element.js` file:

https://github.com/react-syntax-highlighter/react-syntax-highlighter/blob/8aacf945df624a9e32143f6bea74c0a6f8a92825/src/create-element.js#L3-L7

For example, if the `classNames` variable looks like this, which it does for the case of `interpolation-punctuation`:

[code

[2020-08-24 12:43] karlhorky commented on #204
I will come up with a prototype of the specificity solution above (solution 2).

[2020-08-24 13:06] karlhorky commented on #204
Ok so using [`specificity`](https://www.npmjs.com/package/specificity), we can do this solution (working, but not yet optimized):

[code]

[2020-08-24 13:27] karlhorky commented on #204
Hmm... I guess this doesn't help actually, since `classNames` is this:

[code]

So the `styles` are like this (same specificity):

[code]

[2020-08-24 14:18] karlhorky commented on #204
Ok, found a zero-dependency alternative, which:

1. Splits up the selectors in the `stylesheet` by `.`s into an array
2. Checks whether this array is a subset of the `classNames` array
3. Adds styles related to class selectors to the end of the styles to be more specific

Feedback on this approach?

[code]

[2020-08-24 14:39] karlhorky commented on #204
Opened a PR with this approach at https://github.com/react-syntax-highlighter/react-syntax-highlighter/pull/305 - of course open for feedback and changing the approach!

[2020-08-27 09:09] FedericoDiRosa commented on #263
Correction: in Gatsby the colours disappear only after React hydration kicks in

[2020-08-29 06:06] thomasjm commented on #216
Duplicate of #180

[2020-09-01 00:12] cheshrkat commented on #214
For those following this one, there do seem to be notes for 13+, just not in the changelog: https://github.com/react-syntax-highlighter/react-syntax-highlighter/releases ...contents of 11 and 12 remain a mystery, haven't found any notes for those.

[2020-09-01 00:17] simmerer commented on #214
Yep, since I've been contributing I've tried to add complete notes in each release. I'll migrate those to the changelog as well.

For 11 and 12, I might be able to piece them together by digging through commit history.

[2020-09-03 20:17] #214 closed

[2020-09-04 08:53] cheshrkat commented on #214
@simmerer thanks so much for doing this, it's super helpful and much appreciated :)

[2020-09-08 19:30] kylepeeler commented on #214
@simmerer Thank you for addressing this! ❤️

[2020-09-08 21:21] mjyoung commented on #235
Curious if there are any thoughts from the team on this?

[2020-09-08 22:22] simmerer commented on #235
@imjustd @mjyoung I haven't had a chance to try this myself yet, but does adding the `showInlineLineNumbers={true}` prop solve the issue as far as keeping line numbers correctly paired with their original lines?

[2020-09-08 23:07] mjyoung commented on #235
@simmerer adding `showInlineLineNumbers` definitely works better than without, but then of course the text flows into what would normally be the line numbers "gutter", which is undesirable:

![image](https://user-images.githubusercontent.com/868346/92535927-fead1f80-f1fd-11ea-85ed-649d7d52b795.png)

[2020-09-10 20:10] simmerer commented on #235
Ok, thanks for that screenshot! We can CSS around this pretty effectively.

[2020-09-11 00:20] ffumarola opened #308 "Allow for dynamic code strings"
**Is your feature request related to a problem? Please describe.**

My app generates a sample code block for a user based on an input they gave. e.g. give a name and then the code block has that name as part of the code. However, it seems all code blocks must be static today.

**Describe the solution you'd like**

I've tried to make {Code} a Component (<Code />) so I can pass an info prop from the

[2020-09-11 21:05] matiasherranz commented on #230
This worked for me! Thanks for sharing!

[2020-09-30 04:53] michaelyuen commented on #263
I'm not sure what the case was in June, but I was not able to reproduce the issue. The package works as expected.

**Reproduction with create-react-app + typescript:** https://github.com/goomba/react-syntax-highlighter-issue-reproduction
**Deployed:** https://react-syntax-highlighter-issue-reproduction.vercel.app/

I also have a Nextjs app with it working. Can't say for Gatsby.

[2020-09-30 16:00] skdcodes opened #310 "Why is HTML/XML language support not available?"
HTML and XML are supported out of the box wtih **Prism.js** but no such language support is available in https://github.com/react-syntax-highlighter/react-syntax-highlighter/blob/master/AVAILABLE_LANGUAGES_PRISM.MD with this library. Is it not availale with in the library or no included in the above list?

Would be happy to create a PR! :)

[2020-09-30 20:07] filipe-costa commented on #263
@michaelyuen hello, thanks for reproducing it for NextJS.

Unfortunately, the issues still persists and I think the culprit might be the same as @FedericoDiRosa mentioned about Gatsby.

Whenever I refresh my blog page, I can quickly see the syntax highlighting disappear and change to new styles, so I think it is due to hydration.

[2020-10-02 04:46] #235 closed

[2020-10-02 05:09] simmerer commented on #310
Thanks for mentioning this, @skdcodes!

Prism refers to HTML, XML, and a few others as `Markup`: https://prismjs.com/#supported-languages

Selecting `markup` as your highlighting language here should behave as expected: https://react-syntax-highlighter.github.io/react-syntax-highlighter/demo/prism.html

[2020-10-02 05:09] #310 closed

[2020-10-02 08:29] fmvilas opened #311 "Does not work with TailwindCSS anymore"
**Is your feature request related to a problem? Please describe.**
We're using TailwindCSS to style our website. Just upgraded this component for security reasons and found that `lineNumberContainerProps` and `lineNumberProps` were removed. Also, `lineProps` is not allowing us to pass custom classNames. That makes it impossible for us to use both Tailwind and this component.

You can see more here

[2020-10-03 19:19] michaelyuen commented on #263
I've created a reproduction using Gatsby as well.

**Summarizing**
- Create React App: https://react-syntax-highlighter-repro-cra.vercel.app/ ✅
- Gatsby: https://react-syntax-highlighter-repro-gatsby.vercel.app/ ✅
- Next.js: https://mikey.baby/notes/1-hello-world ✅

---

If you are able to share the code that is presenting the issue I'd be happy to take a look. I'm sure it's a more complex use cas

[2020-10-04 00:22] simmerer commented on #311
Good catch! Looks like there was a PR to get rid of `lineNumberContainerStyle` and `lineNumberStyle` and replace them with   `lineNumberContainerProps` and `lineNumberProps`: https://github.com/react-syntax-highlighter/react-syntax-highlighter/pull/229 ... but somehow it was regressed with the 13.0.0 update.

If you've got a bit of time to implement a solution, we'd be grateful.

[2020-10-04 00:34] simmerer commented on #263
@michaelyuen Hugely appreciate you digging into this! It'd be great to get to the root of this issue and document how it arises.

[2020-10-04 09:39] FedericoDiRosa commented on #263
@michaelyuen Thanks a lot for that, but I can still reproduce the issue https://vigilant-visvesvaraya-f810c1.netlify.app/

FYI I am importing the Prism **Light Build**

[2020-10-04 10:32] karlhorky commented on #204
@adamwathan a solution from #305 has now been merged and is available in `react-syntax-highlighter@15.0.1`!

If it works for you, maybe this issue can be closed :)

[2020-10-04 20:17] michaelyuen commented on #263
@simmerer You're welcome! This is a great library and I'm happy to help support it. I'm unsure of the guidelines around contributing, but if you're aware of needs I may be open to taking on some responsibility.

@FedericoDiRosa Cool! When I have some time I'll test out some Prism usage - my reproductions are using hljs. Would it be possible to also share the source to your reproduction?

[2020-10-05 09:01] FedericoDiRosa commented on #263
@michaelyuen sure, I forked your repo here https://github.com/FedericoDiRosa/react-syntax-highlighter-issue-reproduction

And it's actually looking better than my previous example but still having that flickering effect on load, see here https://elastic-neumann-a98d3c.netlify.app/

[2020-10-06 06:28] filipe-costa commented on #263
More information from my side, I am using the following import ```'react-syntax-highlighter/dist/cjs/styles/hljs/docco'```.

[2020-10-06 15:55] fmvilas commented on #311
Absolutely. Do you want me to cherry pick the changes on #229?

[2020-10-06 16:30] simmerer commented on #311
Go for it!

[2020-10-07 00:42] simmerer opened #316 "Request: support needed for non-core highlight.js language deps"
As mentioned in https://github.com/react-syntax-highlighter/react-syntax-highlighter/pull/315, and explicitly stated at https://highlightjs.readthedocs.io/en/latest/language-requests.html, Highlight will no longer be adding languages to the core package, instead preferring third-party packages which may or may not be hosted within the `highlight-js` organization.

Here in `react-syntax-highlighter

[2020-10-07 00:55] simmerer commented on #263
@michaelyuen so far the policy is "if you see a need and have time to contribute, PRs are celebrated and incorporated" :)

Compatibility across bundlers (and SSR/hydration) is definitely an area where we could use some help.

[2020-10-09 03:09] michaelyuen commented on #263
Can't dive into _why_ it's happening yet, but I see what you're reporting now. `gatsby develop` yields one result (presumably the right one) and `gatsby built` + `gatsby server` yields another (with the flickering). A notable difference seems to be the usage of `PrismLight`, where the default does not exhibit the issue.

[2020-10-12 14:53] karlhorky opened #318 "Bump refractor to 3.2.0 and prismjs to 1.22.0"
**Is your feature request related to a problem? Please describe.**

The new versions `refractor@3.2.0` and `prismjs@1.22.0` have been released.

They have, among other things, more highlighting for the `import` and `export` bindings: https://github.com/PrismJS/prism/pull/2533

**Describe the solution you'd like**

Upgrade to these versions. Thanks!

[2020-10-13 14:45] brion-fuller opened #319 "materialLight stylesheet is no longer available in prism"
**Describe the bug**
When trying to import the stylesheet for materialLight for prism, typescript returns a `Type error: Module '"react-syntax-highlighter/dist/esm/styles/prism"' has no exported member 'materialLight'.` message.

**To Reproduce**
Steps to reproduce the behavior:
1. add `import { materialLight as light } from "react-syntax-highlighter/dist/esm/styles/prism";`

**Expected behavior**

[2020-10-19 10:18] jaime-lee opened #321 "Setting wrapLines Props causes LineNumber to appear on the last line of the result."
### **Describe the bug**

When applying wrapLines Props of SyntaxHighlighter, LineNumber is generated at the last line
(Problems that occur when showLineNumbers=false)

### **To Reproduce**

[React Source]
![image](https://user-images.githubusercontent.com/7699206/96429472-efc57e00-123b-11eb-8bcf-9741bf1cb407.png)

[Render Result]
![image](https://user-images.githubusercontent.com/7699206/96430195

[2020-10-21 15:01] Stevemoretz opened #322 "Custom language highlight"
**Is your feature request related to a problem? Please describe.**
I've written a compiler myself I wanna syntax highlight it.

**Describe the solution you'd like**
I'd like to syntax highlight via regex.

**Describe alternatives you've considered**
Nothing really.

[2020-10-23 19:12] wkk5194 commented on #321
have the same condition

[2020-10-24 15:47] karlhorky opened #327 "Upgrade to prism-themes@1.5.0"
Hey @simmerer! 👋

**Is your feature request related to a problem? Please describe.**

`prism-themes@1.5.0` has been released: https://github.com/PrismJS/prism-themes/pull/106#issuecomment-715928215

It contains a fix to the highlighting of diffs in the VS Code Dark Plus theme: https://github.com/PrismJS/prism-themes/pull/106#issue-508905374

[2020-10-28 05:20] sahithyandev opened #328 "Rename androidstudio.js to android-studio.js"
All of the styles (expect *androidstudio*) are named in a uniform way, where words are joined with a `-` and lowercased.
Eg: `atom-one-dark.js`

**Describe the solution you'd like**
The solution is simple, Rename the file `androidstudio.js` to `android-studio.js`. Doing this will ensure uniformity among the styles. But also note that it may cause problems for most of the dependants.

**Describe al

[2020-10-28 08:52] conorhastings commented on #328
These are built by a script and named automatically based on their highlight js name, when the highlight.js name uses a space a - is added, since no space exists in highlight.js the automated script will not add a dash, the overhead requireed seems too much for the benefit gained. See screenshot below from highlight.js docs list of styles
<img width="194" alt="Screen Shot 2020-10-28 at 1 51 15 AM"

[2020-10-28 08:52] #328 closed

[2020-10-28 15:22] danspratling opened #329 "useInlineStyles set to false does not remove all inline styles"
**Describe the bug**
If somebody wishes to use custom styles from their own stylesheet set at a global level, the inline styles generated should be removed. This is what `useInlineStyles={false}` should do.

However, disabling this does not entirely remove inline styles, with the `<code>` block still having the default styles set.

**To Reproduce**
[code]

**Expected behavior**
All inline styles a

[2020-10-28 21:49] conorhastings commented on #329
good call out, will look at a longer term fix, in the short term you can pass in codeTagProps={{style: {}}}

[2020-10-28 21:55] conorhastings commented on #321
make sense, do you want to make a pr, since you seem to have a handle on it?

[2020-10-28 21:58] conorhastings commented on #308
I may be missing something but is there a reason this can't be handled at a leel above the highlighter

[2020-10-28 22:30] ffumarola commented on #308
Hey @conorhastings thanks for replying! How would you mean in this case?

[2020-10-29 02:05] jaime-lee commented on #321
You mean the Pull Request?

I want to participate as soon as the time comes!

In addition to the wrapLine issue, there are also parts where the className of lineProps cannot be set. Shall we also look at this part?

[2020-10-29 02:19] simmerer commented on #321
If you're interested in fixing multiple unrelated issues, it's helpful for everyone involved to provide your fixes in separate pull requests: one PR for each issue you've fixed. Thanks being excited to contribute!

[2020-10-29 02:29] #327 closed

[2020-10-29 02:37] simmerer commented on #319
In which version of `react-syntax-highlighter` are you seeing this issue, @brion-fuller ?

This is what I see in `/dist/esm/styles/prism/index.js` with `react-syntax-highlighter@15.2.1`:

[code]

[2020-10-29 02:38] #318 closed

[2020-10-29 02:46] simmerer commented on #322
Hey @Stevemoretz - that's awesome!

This isn't really the repo for it, though, because RSH pulls all of its languages and styles from whatever's bundled in [Highlight](https://highlightjs.org/) and [Prism](https://prismjs.com/) (well, and some additional [Prism themes](https://github.com/PrismJS/prism-themes)).

Highlight isn't accepting any more core languages, and has switched to recommending pe

[2020-10-29 02:46] #322 closed

[2020-10-29 15:24] karlhorky commented on #327
Thanks @simmerer !

Is this going to be published in `15.2.2` or `15.3.0`?

Right now, `15.2.1` still has the old version: https://unpkg.com/browse/react-syntax-highlighter@15.2.1/package.json

[2020-10-29 15:46] simmerer commented on #327
I see that Conor's also merged a few things recently... probably 15.3.0.

[2020-10-29 15:57] simmerer commented on #327
[15.3.0 it is](https://github.com/react-syntax-highlighter/react-syntax-highlighter/releases/tag/v15.3.0)!

[2020-10-29 17:01] karlhorky commented on #327
Great, will upgrade in the next few days, thanks!

[2020-10-29 19:29] conorhastings commented on #308
can the dynamic substitution happen before it is passed into react-syntax-highlighter

[2020-10-30 03:34] mkkeffeler commented on #230
huge save, worked for me #opensource for the win

[2020-11-04 12:15] cyrankiewicz opened #332 "'#' character should not start a comment when highlighting SQL"
**Describe the bug**
using '#' character in sql results in the rest of the line highlighted as comment

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://react-syntax-highlighter.github.io/react-syntax-highlighter/demo/'
2. type the following code:
[code]
3. The first line is highlighted correctly while the other is treated as if '#' started a comment ('#>' is a JSON operator)

*

[2020-11-04 12:15] cyrankiewicz commented on #332
incidentally, github code highlighting has the same issue :angry:

[2020-11-04 18:53] simmerer commented on #332
Thank you for calling this out, @cyrankiewicz! Unfortunately it's an issue in Highlight JS (see here: https://github.com/highlightjs/highlight.js/issues/2744).

`react-syntax-highlighter` merely imports and re-bundles language definitions from Highlight and Prism.

[2020-11-04 18:53] #332 closed

[2020-11-05 08:22] Pilopa opened #333 "Multi-line comments not correctly discovered"
**Describe the bug**
When supplying even the simplest custom renderer to the PrismAsyncLight highlighter, the lines in between the start and end token of a multi-line comment are not correctly discovered by the react-syntax-highlighter and are therefore missing the highlighting.

The problem is suspected to lie in the [processLines](https://github.com/react-syntax-highlighter/react-syntax-highligh

[2020-11-13 08:04] wugaoliang1116 commented on #182
my project webpack version's 4.29.4;
I had found that solution (`npm install webpack@4.28.4`);
successfully !!!
Hopefully this will work for others.

[2020-11-15 19:53] norbertkross commented on #308
This may be of help, I realized that the syntax highlighter was returning null when I have ` ``` `or `~~~` (for the beginning of the code) without the closing backticks or tilders. I did this.

const renderers = {
   code:({language,value})=>{
   var newCode = value
   var oldCode = value || oldCode

   return <SyntaxHighlighter style={dark} language={"dart"} children={newCode || "" } />
}
}

expo

[2020-11-22 22:49] nickveliki opened #335 "useRef, forwardRef"
**Is your feature request related to a problem? Please describe.**
I want to offer my clients a direct editing IDE experience for my new hosting site, and scrolling simultaneously in the editor and the code syntax higlighter seems to be the most practical way for now. I can control the textarea scrolltop with refs in the onScroll event from the syntax highlighter, but the syntax highlighter itself

[2020-12-04 03:51] vinhnglx commented on #321
I'm facing the same issue too.

[2020-12-04 05:05] katopz opened #337 "Language definition for 'jsx' could not be registered."
**Describe the bug**
Can't `SyntaxHighlighter.registerLanguage` due to `jsx` seem to not properly import.

**To Reproduce**
[code]

**Expected behavior**
This one is working (but i prefer light version)
[code]

**Screenshots**
![image](https://user-images.githubusercontent.com/97060/101123813-358da880-3628-11eb-9b56-22088bea4c75.png)

**Desktop (please complete the following information):**
 - OS:

[2020-12-06 00:40] aschonfeld opened #339 "Please bump highlight.js to 10.4.1"
react-syntax-highlighter is an excellent package but it is causing dependabot warnings on my tools that use them because it’s using a version of highlight.js that has security vulnerablility. Thank you 🙏

[2020-12-07 20:31] arianitu opened #340 "Enabling line numbers shifts text over on line 10 and beyond. (see difference between line 9 and 10)"
**Describe the bug**
Line numbers seem to shift text to the right after line 10?

**To Reproduce**
Go to https://react-syntax-highlighter.github.io/react-syntax-highlighter/demo/

Look at line 10, why is everything shifted to the right? If you highlight the text, you can see the shift even more clearly.

**Expected behavior**
Line numbers should not affect text to the right at all.

**Screenshots*

[2020-12-08 01:01] simmerer commented on #339
Should have this released tonight.

[2020-12-08 01:33] aschonfeld commented on #339
🙏

[2020-12-08 04:23] simmerer commented on #339
Released as `15.4.0, release notes coming in just a moment.
https://github.com/react-syntax-highlighter/react-syntax-highlighter/pull/338

[2020-12-08 04:23] #339 closed

[2020-12-08 04:30] simmerer commented on #335
RSH hasn't yet been brought into the modern world of React 16.8+, so we'll have to do a bunch of work before we can get to this request.

It's a cool idea though, and we'll keep it open here as a future feature suggestion.

[2020-12-08 04:55] simmerer commented on #340
Good eye!

[2020-12-08 04:58] #321 closed

[2020-12-08 05:09] #340 closed

[2020-12-08 05:34] #204 closed

[2020-12-08 05:39] simmerer commented on #337
Curious here @katopz : do you see the same error when using `cjs` instead of `esm`?

[code]

[2020-12-08 06:20] katopz commented on #337
Yes, pretty same.

[2020-12-08 07:29] tu4mo opened #343 "Can't resolve 'highlight.js/lib/languages/node-repl'"
**Describe the bug**
[code]

**To Reproduce**
Have react-syntax-highlighter installed with other package that depends on a version of highlight.js that's fixed to <10.4.0.

**Expected behavior**
react-syntax-highlighter depends on highlight.js@[^10.4.0](https://github.com/highlightjs/highlight.js/releases/tag/10.4.0) (instead of ^10.1.1) where node-repl was added.

[2020-12-08 15:59] aurelien-reeves commented on #343
It seems to be because of lowlight.
I had to add lowlight 1.17.0 in my package.json to make it work. Without it, it was using lowlight 1.16.0 wich seems not working with react-syntax-highlighter 15.4.1.

[2020-12-08 16:13] aurelien-reeves commented on #343
In my yarn.lock file, lowlight@^1.14.0 is resolved to 1.16.0
Even if I add lowlight@^1.17.0, I still have the 1.16.0 installed, wich then add highlight.js@10.3.0

[code]

I don't understand why lowlight@^1.14.0 resolve in 1.16 instead of 1.17.

[2020-12-08 16:36] aurelien-reeves commented on #343
It seems I found a way to make it work:

I have removed `lowlight` and `react-syntax-highlighter` from the dependencies in `package.json`, then executed `yarn install`. It seems to have "cleaned-up" the `yarn.lock` file.

I have also clean the cache of yarn (`yarn cache clean lowlight` and `yarn cache clean react-syntax-highlighter`). I don't know if that was actually usefull.

Then `yarn add reac

[2020-12-08 23:52] #343 closed

[2020-12-09 14:58] GAUTAMRAJU15 commented on #9
This won't work now, the style path is invalid

[2020-12-09 16:38] andrevenancio commented on #343
Having the same issue on a next.js project that uses this module as a dependency. I had to do something similar but using npm myself.

So `rm -rf node_modules package-lock.json .next` and then `npm install` and was able to build my next.js application after that.

[2020-12-09 17:24] tu4mo commented on #343
I'm still getting the same error. You need to bump highlight.js also.

[2020-12-10 08:22] aurelien-reeves commented on #343
Indeed I missed that! I assumed it was actually the case following the PR wich bump highlight.js to v10.4.1: https://github.com/react-syntax-highlighter/react-syntax-highlighter/pull/338

But actually, it just updated package-lock.json. Not package.json.

[2020-12-12 17:13] SalahAdDin commented on #311
@simmerer I'm having [problems](https://github.com/react-syntax-highlighter/react-syntax-highlighter/pull/320#issuecomment-743785602) with it too.

[2020-12-15 04:21] manishy opened #347 "lineNumberContainerStyle doesn't seem to working as expected"
I was facing his issue while bumping `react-syntax-highlighter` from v10 to v15.
Actually we were using `lineNumberContainerStyle` to give some custom styling to line number container.
But styling is not getting applied to line number container.

**To Reproduce**
Steps to reproduce the behavior:
This is how I am trying --
[code]

**Expected behavior**
`lineNumberContainerStyle` should get applied

[2020-12-20 05:08] f3ve commented on #230
@SalahAdDin Thanks for the simple fix!

[2020-12-23 11:05] jakubjafra commented on #104
In my app I render JSON files with some URLs in it. I needed to make them clickable, and achieved it via the following code:
[code]

And then usage:
[code]

The `react-syntax-highlighter/dist/esm/create-element` module is not added to `@types/react-syntax-highlighter` so you have to define your own types for it to compile:
[code]

It's not production-ready, but it's a starting point for anybody ha

[2020-12-23 17:47] andrevenancio opened #348 "Codesandbox theme"
maybe not a feature request, but did anyone ever had to build a codesandbox matching theme for this project? Just trying to figure out if I need to do it from scratch or if anyone has done it before (https://codesandbox.io/)

[2020-12-27 19:43] filipe-costa commented on #263
I had time to look into the issue I was having and I was able to fix it, the issue wasn't related to syntax highlighter itself, but how I was using it together with React Markdown.

I was doing
[code]

instead of

[code]

Thanks everyone for your help.

[2020-12-28 11:11] aryzing opened #349 "Non-string children values throw error"
**Describe the bug**
Non-string children values throw error

**To Reproduce**
Use highlighter with non-string children

[code]

**Expected behavior**
Valid JSX should be handled gracefully. E.g., when non-string values, emit warning and ignore input. Throwing an error seems a bit heavy handed, potentially crashing apps.

**Screenshots**
n/a

**Desktop (please complete the following information):**

[2020-12-30 20:14] PandaWhisperer commented on #308
I have the same issue. I tried using `ReactDOMServer.renderToString()` to pre-render my entire code to a string and then apply it to the Highlighter using `dangerouslySetInnerHTML` (because it contains HTML entities), but then I get the following error:

    Error: expected `string` for value, got `undefined`

[2021-01-12 10:47] catamphetamine opened #352 "Async code doesn't check "is mounted" state before requesting a re-render"
Today, I got a warning in the console:

[code]

I glanced very briefly at a random source file, and noticed things like this:

https://github.com/react-syntax-highlighter/react-syntax-highlighter/blob/efc3f7b7537d1729193b7a472067bcbe6cbecaf1/src/async-syntax-highlighter.js#L110-L112

One can't request a React re-render (`.forceUpdate()`/`.setState()`) after the component has been unmounted.

Set a

[2021-01-18 18:03] schnerd opened #353 "wrapLines option breaks python syntax highlighting"
**Describe the bug**
When the wrapLines or wrapLongLines properties are used, python syntax highlighting no longer behaves correctly.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://codesandbox.io/s/magical-ramanujan-zxplw?file=/src/App.js:456-481
2. Toggle the `wrapLines` property back and forth
3. See that the code highlighting changes significantly (see screenshots below)

A

[2021-01-21 12:44] ygorduraes commented on #302
I'm having this same problem with large files. I still haven't found a workaround for this issue.

[2021-01-27 11:49] hoyt-tian opened #354 "Optional custom line number renderer"
An optional custom line number renderer is required in my own project. It would be very convenient that we could use a custom line number renderer, for example, I'd like to place more tool icons after line number, etc.

[2021-01-27 12:01] hoyt-tian commented on #354
Here is PR: https://github.com/react-syntax-highlighter/react-syntax-highlighter/pull/355

[2021-01-28 16:35] aaronmw opened #356 "Wrap an arbitrary substring within the highlighted result ("super highlight" a keyword, for example)"
**Is your feature request related to a problem? Please describe.**
I'm writing documentation and using this library to highlight my code samples, but for my "padding" section (for example), each code sample is basically identical except for the value I pass to the `padding` prop. I'd like to "super highlight" the value of that prop so it's easy to see exactly what's unique about each sample.

**De

[2021-01-28 17:08] aaronmw commented on #356
Okay, I kept going down my innerHTML route and this appears to be working. If there's a better way than this, I (and anyone who follows) would appreciate your feedback! It ain't pretty...

[code]

[2021-02-08 04:44] chadlavi opened #357 "Basic usage causes "Maximum call stack size exceeded" error"
**Describe the bug**
Using the package as described in the docs of [react-markdown](https://www.npmjs.com/package/react-markdown#use-custom-renderers-syntax-highlight) causes a "Maximum call stack size exceeded" error.

Their recommended usage:

[code]

See the example at https://codesandbox.io/s/react-markdown-forked-gb1dd?file=/src/App.tsx. Uncomment lines 11 through 17 to see the error yourself

[2021-02-08 04:56] chadlavi commented on #357
Here's an even more minimal reproduction: All I did was import react syntax highlighter and use it in this create react app: https://codesandbox.io/s/vigilant-mccarthy-pddob?file=/src/App.tsx

[2021-02-08 05:00] chadlavi commented on #357
Also reproducible in a non-typescript app: https://codesandbox.io/s/vibrant-resonance-g5e3j?file=/src/App.js

[2021-02-08 10:19] Shawnfoto opened #358 "How to insert type of Array instand of codeString"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
My codeString is type of Array

const codeString = events.map(event => (
    `${TOOL_NAME}('track',{event:'${event.name}'});`
  ))

**Describe the solution you'd like**
A clear and concise description of what you want to happen.
Can I rende

[2021-02-08 19:15] travisdahl commented on #302
Having the same issue. Unusable with large files.

[2021-02-12 18:47] justanotheranonymoususer opened #359 "Triple click selects the first character of the next line"
**Describe the bug**
Triple click on the line. See the following:
![image](https://user-images.githubusercontent.com/5781692/107809151-50407400-6d73-11eb-9ed2-302ccf567fd0.png)

**To Reproduce**
Steps to reproduce the behavior:
1. Triple click on the line.
2. See the above.

**Expected behavior**
Triple click doesn't select the first character of the next line.

**Screenshots**
See above

**Deskto

[2021-02-12 20:16] justanotheranonymoususer opened #360 "Allow to mix several languages and components"
**Is your feature request related to a problem? Please describe.**
Specifically, I want to add buttons and also mix PHP and SQL.

**Describe the solution you'd like**
So currently, the usage is the following, which is simple but not very flexible:
[code]

I suggest to allow the `children` part to be more flexible - be able to receive an array of elements to render inside the block, and introduce `

[2021-02-12 20:24] justanotheranonymoususer commented on #356
I found this library to be great but not flexible enough. Looking around issues, I see that other people encounter it as well.
Take a look at my suggestion: https://github.com/react-syntax-highlighter/react-syntax-highlighter/issues/360
If it's implemented, you could do:

[code]

[2021-02-17 02:13] JoseRenan commented on #333
Hi, @Pilopa do you have any update on this issue? I'm facing the same problem trying to make a custom render to wrap the code line :( I think it's the same problem that was reported on #353

[2021-02-17 07:34] Pilopa commented on #333
Hello Jose, unfortunately not. We have not heard back from the react-syntax-highlighter team and did not continue our own investigations as the issue seems to be clearly with the code area I mentioned above. All we can do I am afraid is wait for them to respond. Alternatively you could create a fork to fix the issue on your end.

[2021-02-22 07:30] mallowigi opened #363 "Differences between production and dev"
**Describe the bug**
Highlighting is inconsistent between production build and webpack dev build (create-react-app)

**To Reproduce**
Here's a codesandbox I made which illustrates the problem:

https://1j1ym.csb.app/

Compare now with the deployed version:

https://csb-1j1ym.netlify.app/

As you can see the `window` is not colored in the production build

**Expected behavior**
Highlighting must be

[2021-02-26 20:34] bobbyhadz commented on #263
Still have this issue with next.js

If I go straight to a page or refresh a page I see a flash of styled content and then the styling disappears.

I only have this problem when using:

[code]

When using:
[code]
It works, but it also loads in all the languages for a total of `~500kb` bundle.

Does anyone know how to fix this?

[2021-02-27 05:33] bobbyhadz commented on #263
I found a solution for `next.js`.

I am using the `PrismLight` version of `react-syntax-highlighter` and the `react-markdown` package.

My issue was that when I navigate directly to a route in `next.js` or refresh the page on a route, that has the `<ReactMarkdown />` component I was getting a flash of styled syntax, then the highlighting dissapeared.

This problem only seems to exist with the `Pri